/****** font-szie ******/
/* @media (max-width: 750px) {
  html { font-size: 100px; }
  body { font-size: 18px; }
}

@media (max-width: 320px) {
  html { font-size: 85.33px; }
  body { font-size: 18px; }
} */
html, body, #wrapper { height: 100%; }
body {
  /* background-color: #f6fcfe; */
  font-size: 18px;
}
.content {
  box-sizing: border-box;
}
.body {
  overflow: auto;
  position: absolute;
  top: 1.2rem;
  bottom: 1.2rem;
  width: 100%;
  background-color: #fbfeff;
}
.main {
  position: absolute;
  top: 0.3rem;
  right: 0.2rem;
  bottom: 0.3rem;
  left: 0.2rem;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

/******  form  ******/
.form-normal .form-field {
  display: flex;
  display: -webkit-flex;
  position: relative;
  padding-bottom: 0.7rem;
  align-items: center;
}
.form-normal .form-field i.i-form-field {
  display: inline-block;
  width: 0.56rem;
  height: 0.63rem;
  margin: 0 0.10rem 0 0.20rem;
}
.form-normal .form-field .ipt-text-with-name {
  /* display: inline-block; */
  display: flex;
  display: -webkit-flex;
}
.form-normal .form-field .tip {
  position: absolute;
  top: 0.95rem;
  left: 0.9rem;
  font-size: 24px;
}
.form-normal .form-field .tip-err {
  color: #fd7423;
}
.form-normal .form-field .i-check,
.form-normal .form-field .i-fork {
  position: absolute;
  top: 0.3rem;
  right: -0.65rem;
  width: 0.29rem;
  height: 0.19rem;
}
.form-normal .form-field .i-fork {
  right: -0.58rem;
  width: 0.2rem;
  height: 0.2rem;
}
.form-normal .btn-confirm {
  width: 3.4rem;
}
.form-normal .btn-gray {
  width: 1.9rem;
}
.ipt-text-with-name {
  position: relative;
  overflow: hidden;
  width: 6.4rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  border: 3px solid #1277be;
  box-shadow: 0px 10px 20px 0px rgba(28, 174, 226, 0.15);
}
.ipt-text-with-name .field-name {
  display: inline-block;
  height: 0.34rem;
  margin: 0.23rem 0 0.25rem 0.35rem;
  line-height: 0.3rem;
  font-size: 0.3rem;
  vertical-align: top;
  color: #1277be;
}
.ipt-text-with-name .field-name span{
  display: inline-block;
  overflow: hidden;
  height: 0.3rem;
  margin-right: 5px;
  vertical-align: middle;
}
.ipt-text-with-name .field-name span.justify {
  width: 1.2rem;
}
.ipt-text-with-name .field-value {
  position: relative;
  width: 100%;
  margin: 0.24rem 0 0.25rem 0.2rem;
  height: 0.3rem;
  vertical-align: top;
  font-size: 0.3rem;
}
.ipt-text-with-name .ipt-area {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  margin-right: 0.86rem;
}
.field-normal .ipt-area {
  width: 3.65rem;
}
.field-width-btn .ipt-area {
  width: 1.95rem;
}
.form-field .btn-send-mscode {
  width: 1.8rem;
  height: 0.8rem;
  margin-top: 0;
  border-radius: 0;
}
.form-field .vcode-bar {
  overflow: hidden;
  display: inline-block;
  width: 1.8rem;
  height: 0.8rem;
  vertical-align: top;
  text-align: center;
  line-height: 0.8rem;
  color: #000;
  font-size: 32px;
}

.btn-primary,
.btn-gray {
  display: inline-block;
  height: 0.8rem;
  background-color: #1277be;
  box-shadow: 0px 10px 20px 0px rgba(28, 174, 226, 0.15);
  border-radius: 40px;
  font-size: 36px;
  text-align: center;
  line-height: 0.8rem;
  color: #FFF;
  vertical-align: top;
}
.btn-gray {
  background-color: #b8c1ce;
}


.btn-bar {
  text-align: center;
}
.justify {
  text-justify: inter-ideograph;
  text-align: justify;
}
.justify:after {
  display: inline-block;
  content: '';
  overflow: hidden;
  width: 100%;
  height: 1px;
}

/********************/

/******  layer  ******/
.layer-cover,
.layer-cover-black,
.layer-cover-white {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 998;
}

.layer-cover-black {
  background-color: rgba(0, 0, 0, 0.3);
}

.layer-cover-white {
  background-color: rgba(255, 255, 255, 0.3);
}

.temp-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.layer-res-status {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6.6rem;
  height: 6.8rem;
  margin: -3.4rem 0 0 -3.3rem;
  padding-top: 6rem;
  border-radius: 20px;
  box-sizing: border-box;
  background-size: contain;
  background-color: #1277be;
  z-index: 999;
}
.layer-res-status .btn-close {
  display: inline-block;
  width: 1.4rem;
  height: 0.6rem;
  background-color: #47d6ff;
  box-shadow: 0px 6px 20px 0px rgba(0, 173, 228, 0.15);
  border-radius: 0.3rem;
  text-align: center;
  line-height: 0.6rem;
  color: #FFF;
  font-size: 30px;
}
.layer-res-status .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-res-data-wrong {
  background-image: url('../img/res-data-wrong.png');
}
.layer-res-sub-success {
  background-image: url('../img/res-sub-suc.png');
}
.layer-res-edit-success {
  background-image: url('../img/res-edit-suc.png');
}
/********************/

/******  icon-font  ******/

.iconfont.icon-huiyijiyao,
.iconfont.icon-gongwenbao,
.fa.fa-stethoscope,
.fa.fa-vcard-o,
.iconfont.icon-trophy_icon,
.iconfont.icon-dituleiditu,
.iconfont.icon-shixunchengji {
  font-size: 36px;
}

.iconfont.icon-xiaoxi {
  font-size: 72px;
}

.behalf-footer > div i {
  background-image: url("../img/icon/icon-bar.png");
  background-size: contain;
  background-size: 0.46rem auto;
}
.behalf-footer > div.cur i {
  background-image: url("../img/icon/icon-bar-active.png");
}

.brand-footer > div i {
  background-image: url("../img/icon/icon-bar2.png");
  background-size: contain;
  background-size: 0.46rem auto;
}
.brand-footer > div.cur i {
  background-image: url("../img/icon/icon-bar-active2.png");
}

.i-bar2-1 { background-position: 0 0; }
.i-bar2-2 { background-position: 0 -0.49rem; }
.i-bar2-3 { background-position: 0 -0.98rem; }
.i-bar2-4 { background-position: 0 -1.47rem; }

.i-bar-1 { background-position: 0 0; }
.i-bar-2 { background-position: 0 -0.55rem; }
.i-bar-3 { background-position: 0 -1.08rem; }
.i-bar-4 { background-position: 0 -1.66rem; }
.i-bar-5 { background-position: 0 -2.17rem; }
.i-bar-6 { background-position: 0 -2.7rem; }

.i-login-account,
.i-forgot-pwd,
.i-change-pwd,
.i-login-pwd,
.i-user-name,
.i-user-phone,
.i-vcode,
.i-mscode,
.i-new-pwd {
  background-image: url("../img/icon/icon-login-list.png");
  background-repeat: no-repeat;
  background-size: 0.56rem auto;
}

.i-login-account {
  background-position: 0 0.05rem;
}
.i-login-pwd {
  background-position: 0 -0.63rem;
}
.i-forgot-pwd {
  background-position: 0 -1.26rem;
}
.i-change-pwd {
  background-position: 0 -1.89rem;
}
.i-user-name {
  background-position: 0 -2.62rem;
}
.i-user-phone {
  background-position: 0 -3.3rem;
}
.i-vcode {
  background-position: 0 -3.95rem;
}
.i-mscode {
  background-position: 0 -4.75rem;
}
.i-new-pwd {
  background-position: 0 -5.45rem;
}

.i-hotline {
  background: url('../img/icon/icon-hotline.png');
}
.i-copyright {
  background: url('../img/icon/icon-copyright.png');
}

.i-check {
  background-image: url('../img/icon/i-check.png');
  background-repeat: no-repeat;
}
.i-fork {
  background-image: url('../img/icon/i-fork.png');
  background-repeat: no-repeat;
}
.i-return-gray {
  background-image: url('../img/icon/icon-back-index.png');
}
.i-close {
  background: url('../img/icon/i-close.png') no-repeat 0 0;
  background-size: contain;
}

input:checked + .ipt-checkbox {
  background: url('../img/icon/icon-check2.png');
  background-size: contain;
}

.index-menu i {
  background: url("../img/icon/icon-index1.png") no-repeat 0 0;
  background: 100% auto;
}
.index-menu i.i-index-menu-2 {
  background-position: 0 -0.92rem;
}
.index-menu i.i-index-menu-3 {
  background-position: 0 -1.9rem;
}
.index-menu i.i-index-menu-4 {
  background-position: 0 -2.83rem;
}

.side-nav .side-nav-head p i{
  background: url("../img/icon/icon-nav-bottom.png") no-repeat 0 0;
  background-size: 0.24rem auto;
}
.side-nav .side-nav-head p i.i-book {
  background-position: 0 -0.25rem;
}
.side-nav .side-nav-head p i.i-notepad {
  background-position: 0 -0.5rem;
}

.conference-status i {
  background: url("../img/icon/icon-meekting-state.png") no-repeat 0 0;
  background-size: 0.37rem auto;
}
/********************/


/********************/

/****** header ******/
#header {
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 1.2rem;
  background-color: #FFF;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
}
#header .link-return {
  width: 1.24rem;
  border-right: 2px solid #e0f0ff;
}
#header .link-return i {
  display: block;
  width: 0.49rem;
  height: 0.32rem;
  margin: 0.3rem 0.36rem 0.17rem;
  background: url('../img/icon/icon-back-index.png') no-repeat center bottom;
  background-size: ;
}
#header .link-my-message {
  position: relative;
  width: 1.2rem;
  border-left: 2px solid #e0f0ff;
  border-right: 2px solid #e0f0ff;
}
#header .link-my-message i {
  display: block;
  width: 100%;
  height: 0.68rem;
  margin-bottom: 0.1rem;
}
#header .link-my-message .msg-count {
  position: absolute;
  top: 0.05rem;
  right: 0.1rem;
  width: 0.38rem;
  height: 0.25rem;
  background-color: #fd7423;
  border-radius: 12px;
  color: #FFF;
}
#header .btn-open-side-nav {
  width: 0.7rem;
}
#header a {
  color: #1277be;
}
#header .nav {
  display: flex;
  display: -webkit-flex;
  flex: 1;
  -webkit-flex: 1;
}
#header .nav li {
  flex: 1;
  -webkit-flex: 1;
}
#header .nav a {
  display: block;
  font-size: 16px;
}
#header .nav i {
  display: block;
  height: 0.4rem;
  margin: 0.15rem auto 0.1rem;
}
#header .nav span {
  display: block;
  font-size: 24px;
  color: #ffc14a;
}
.i-btn-side-nav {
  display: block;
  width: 0.1rem;
  height: 0.39rem;
  margin: 0.4rem auto 0;
}
.i-btn-side-nav i{
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  margin-bottom: 3px;
  background-color: #1277be;
  border-radius: 50%;
}
.side-nav {
  display: none;
  position: absolute;
  top: 1.2rem;
  right: 0.1rem;
  width: 3.6rem;
  background-color: #FFF;
  border-radius: 10px;
  z-index: 999;
  font-size: 24px;
  color: #9499a3;
}
.side-nav .side-nav-head {
  display: block;
  box-sizing: border-box;
  padding: 0.51rem 0 0 0.25rem;
  border-bottom: 2px solid #e6f1f6;
}
.side-nav .side-nav-head p {
  padding-bottom: 0.43rem;
}
.side-nav .side-nav-head p i {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  vertical-align: middle;
  margin-right: 0.1rem;
}
.side-nav .side-nav-head p span {
  display: inline-block;
  vertical-align: middle;
}
.side-nav .side-nav-foot {
  display: block;
  height: 1.95rem;
  font-size: 20px;
  text-align: center;
}
.co-info {
  padding: 0.47rem 0 0.31rem 0 ;
}
.co-code .i-copyright {
  display: inline-block;
  width: 0.28rem;
  height: 0.28rem;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 0.02rem;
}
/********************/

/****** footer ******/
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  display: -webkit-flex;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: 1.2rem;
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 -2px 15px 0 rgba(0, 0, 0, 0.1);
}
#footer > div {
  flex: 1;
  -webkit-flex: 1;
  box-sizing: border-box;
  height: 1.2rem;
  border-top: 10px solid #FFF;
  color: #9fa0a0;
}
#footer > div.cur {
  border-color: #1277be;
  color: #1277be;
}
#footer > div i {
  display: block;
  width: 0.46rem;
  height: 0.49rem;
  margin: 0.13rem auto 0.10rem;
}
/********************/

/****** copyright ******/
.copyright {
  width: 100%;
  height: 1.65rem;
  margin-top: -1.95rem;
  padding-bottom: 0.3rem;
  background-color: #FFF;
  text-align: center;
  font: 20px/55px FZLTXHK--GBK1-0;
  color: #1277be;
}
.copyright i.i-hotline {
  width: 0.24rem;
  height: 0.24rem;
}
.copyright i {
  display: inline-block;
  width: 0.28rem;
  height: 0.28rem;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: text-bottom;
}

/********************/

