/****** font-szie ******/
@media (max-width: 750px) {
  html { font-size: 100px; }
  body { font-size: 18px; }
}

@media (max-width: 320px) {
  html { font-size: 85.33px; }
  body { font-size: 18px; }
}

body {
  background-color: #f6fcfe;
}

/******  icon-font  ******/

.iconfont.icon-huiyijiyao,
.iconfont.icon-gongwenbao,
.fa.fa-stethoscope,
.fa.fa-vcard-o {
  font-size: 36px;
}

.iconfont.icon-xiaoxi {
  font-size: 72px;
}

/********************/


/********************/

/****** header ******/











/********************/