/********* login *********/
.login {
}
.login .content {
  min-height: 100%;
  padding-top: 1.9rem;
  padding-bottom: 2.25rem;
}
.login .btn-confirm {
  margin-right: 0.4rem;
}
.slogan {
  width: 100%;
  height: 1.88rem;
  margin-bottom: 0.95rem;
  background: url('../img/slogan.png');
  background-size: contain;
}
.link-user-pwd-tip {
  padding-top: 1.5rem;
  line-height: 55px;
  text-align: center;
  font-size: 28px;
}
.link-user-pwd-tip a {
  display: inline-block;
  margin: 0 0.3rem;
  color: #4596d5;
}
.link-user-pwd-tip i{
  display: inline-block;
  width: 0.56rem;
  height: 0.63rem;
  margin-right: 10px;
  vertical-align: middle;
}
.link-user-pwd-tip span {
  display: inline-block;
  vertical-align: middle;
}
/*************************/

/******** register *******/
.register .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}
.register .slogan {
  margin-bottom: 0.4rem;
}
.register .btn-bar {
  padding-top: 0.2rem;
}
.register .btn-next-step {
  width: 3.4rem;
  height: 0.8rem;
}
.form-register-step-1 .form-field{
  padding-bottom: 0.2rem;
}
.form-register-step-2 {
  display: none;
  padding-top: 1rem;
}
.link-to-login {
  position: absolute;
  top: 0.49rem;
  left: 0.45rem;
  font-size: 30px;
  line-height: 55px;
  color: #78859a;
}
.link-to-login .i-return-gray {
  display: inline-block;
  width: 0.49rem;
  height: 0.33rem;
  vertical-align: text-top;
  margin-right: 16px;
}
.bar-privacy-policy {
  position: relative;
  padding-top: 0.56rem;
  text-align: center;
}
.bar-privacy-policy .ipt-checkbox-policy {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.bar-privacy-policy .ipt-checkbox {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 28px;
  border: 2px solid #b6bfce;
  vertical-align: middle;
}
.bar-privacy-policy span {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #9fa0a0;
}
.layer-privacy-policy {
  display: none;
  position: absolute;
  top: 0.65rem;
  left: 0.25rem;
  bottom: 0.6rem;
  right: 0.25rem;
  padding: 0.3rem;
  background-color: #FFF;
  z-index: 999;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
}
.layer-privacy-policy .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-privacy-policy .layer-title{
  height: 1.74rem;
  border-bottom: 6px solid #e0f0ff;
  font-size: 54px;
  line-height: 1.74rem;
  text-align: center;
  color: #0074b6;
}
.layer-privacy-policy .layer-content {
  overflow: auto;
  position: absolute;
  top: 2.54rem;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  padding: 0 0.3rem;
  line-height: 32px;
  font-size: 24px;
  color: #818181;
  text-align: justify;
  letter-spacing: 3px;
}
.layer-warn-policy {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 4rem;
  margin: -2rem 0 0 -3.5rem;
  background-color: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
  border-radius: 20px;
  border: solid 3px #ffffff;
  z-index: 999;
}
.layer-warn-policy .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-warn-policy .layer-content {
  padding-top: 1.5rem;
  text-align: center;
  font-size: 48px;
  color: #fd7423;
}
.layer-warn-policy .layer-btn-bar {
  padding-top: 0.8rem;
  text-align: center;
}
.layer-warn-policy .btn-close-layer {
  width: 1.4rem;
  height: 0.6rem;
  margin-top: 0;
  line-height: 0.6rem;
}
/*************************/

/********* change-password *********/

.change-password .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}
.change-password .tip-err {
  display: none;
}

/**********************************/

/********* forgot-password *********/
.forgot-password .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}

.forgot-password .btn-bar {
  padding-top: 0.2rem;
}

.forgot-password .form-field {
  padding-bottom: 0.2rem;
}
/************************************/


/*********** behalf-index ***********/
.behalf-index {

}
.behalf-index .content {
  min-height: 100%;
  padding-top: 1rem;
  padding-bottom: 2.25rem;
}
.behalf-index .virtual-scene {
  width: 7.5rem;
  height: 9.54rem;
  background: url('../img/virtual-scene.png');
  background-size: contain;
}
.behalf-index .content-head {
  position: absolute;
  top: 0.4rem;
  height: 0.6rem;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.4rem;
}
.behalf-index .content-head .user-bar {
  float: left;
}
.behalf-index .content-head .user-name {
  font-size: 24px;
  color: #1277be;
}
.behalf-index .content-head .btn-logout {
  display: inline-block;
  width: 0.8rem;
  height: 0.4rem;
  margin-left: 5px;
  background-color: rgba(182, 191, 206, 0.3);
  box-shadow: 0px 5px 21px 0px rgba(73, 170, 225, 0.27);
  border-radius: 0.2rem;
  text-align: center;
  line-height: 0.4rem;
  font-size: 24px;
  color: #1277be;
}
.behalf-index .content-head .index-menu-container {
  float: right;
  position: relative;
  width: 2.3rem;
  height: 0.6rem;
  background-color: #4596d5;
  box-shadow: 0px 5px 21px 0px rgba(73, 170, 225, 0.27);
  border-radius: 0.3rem;
  text-align: center;
  line-height: 0.6rem;
  font-size: 30px;
  color: #FFF;
}
.index-menu:after {
  content: '';
  position: absolute;
  top: -0.2rem;
  right: 0.3rem;
  width: 0.4rem;
  height: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #FFF;
  box-shadow: -5px -5px 10px 0px rgba(73, 170, 225, 0.27);
  z-index: 1;
}
.index-menu {
  display: none;
  position: absolute;
  top: 1rem;
  right: 0;
  width: 2.86rem;
  background-color: #FFF;
  color: #3375bb;
  box-shadow: 0px 2px 114px 0px rgba(29, 29, 29, 0.25), 0px 2px 24px 0px rgba(73, 170, 225, 0.7);
  z-index: 999;
}
.index-menu ul {
  position: relative;
  z-index: 2;
}
.index-menu li {
  margin: 0 0.2rem;
  border-bottom: 2px solid #e3effe;
}
.index-menu a {
  display: flex;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  color: #3375bb;
  align-items: center;
}
.index-menu span {
  width: 1.2rem;
  text-align-last: justify;
}
.index-menu i {
  width: 0.5rem;
  height: 0.55rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.behalf-index .content-head .fa-bars {
  margin-left: 10px;
}
.behalf-index .content-foot {
  position: absolute;
  left: 0.4rem;
  right: 0.4rem;
  bottom: 2.25rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 36px;
}
.link-bar {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  padding: 0 0.2rem 0 0.1rem;
  box-sizing: border-box;
  box-shadow: 0px 5px 21px 0px rgba(73, 170, 225, 0.27);
  border-radius: 40px;
  background-color: #d4edf8;
}
.behalf-index .content-foot a{
  flex: 1;
  -webkit-flex: 1;
  color: #0073bb;
  font-weight: bold;
}
.behalf-index .content-foot a span {
  display: inline-block;
  margin-left: 0.15rem;
  transform: translate(0, -5px) scaleY(1.5);
  -webkit-transform: translate(0, -5px) scaleY(1.5);
  transform-origin: 0 50%;
  -webkit-transform-origin: 0 50%;
}
.behalf-index .content-foot a i {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.behalf-index .content-foot a i.i-grab-order {
  width: 0.55rem;
  height: 0.58rem;
  background: url('../img/icon/icon-nav2.png') no-repeat 0 0;
  background-size: contain;
}
.behalf-index .content-foot a i.i-attend {
  width: 0.64rem;
  height: 0.63rem;
  background: url('../img/icon/icon-nav1.png') no-repeat 0 0;
  background-size: contain;
}
/************************************/

/*********** conference-list ********/
.conference-grab .content{
}
.conference-list-nav {
  height: 0.78rem;
  margin: 0 0.2rem;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid #e0f0ff;
  font-size: 0.18rem;
}
.conference-list-nav a {
  display: inline-block;
  width: 0.9rem;
  text-align: center;
  color: #b8c1ce;
}
.conference-list-nav a.cur {
  color: #006ab4;
}
.conference-list-nav a i{
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  margin: 0.1rem 0;
  font-size: 0.32rem;
}
.conference-list-nav a span {
  display: block;
}
.conference-list {
  padding: 0.2rem;
}
.conference-list li{
  box-sizing: border-box;
  min-height: 4rem;
  margin-bottom: 0.2rem;
  padding: 0.1rem;
  box-shadow: 0px 3px 15px 0px rgba(0, 173, 228, 0.33);
}
.conference-info {
  padding-left: 0.3rem;
  font-size: 20px;
}
.conference-info-top {
  overflow: hidden;
  height: 1.8rem;
  margin-bottom: 0.2rem;
}
.conference-info-top img {
  width: 5.5rem;
}
.conference-status {
  float: right;
  width: 1rem;
  height: 1.8rem;
  background-color: #b8c1ce;
  font-size: 24px;
  color: #FFF;
  text-align: center;
}
.conference-status i {
  display: block;
  width: 0.37rem;
  height: 0.37rem;
  margin: 0.5rem auto 0.1rem;
}
.conference-status.is-grabed {
  background-color: #1277be;
}
.conference-status.is-grabed i{
  background-position: 0 -0.37rem;
}

.conference-info p {
  color: #78859a;
}
.conference-info p label {
  display: inline-block;
  width: 1rem;
  font-weight: bold;
  text-align: justify;
  text-align-last: justify;
  vertical-align: top;
}
.conference-info p span {
  display: inline-block;
  width: 4.5rem;
  vertical-align: top;
}
.conference-btn-bar {
  padding: 0.2rem 0 0.1rem;
  text-align: center;
}
.conference-btn-bar a{
  display: inline-block;
  width: 1.35rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 0.5rem;
  color: #FFF;
  font-size: 24px;
}
.conference-btn-bar i {
  margin-right: 0.1rem;
}
.conference-list li.disabled {
  border: none;
}
.conference-list li.disabled .conference-btn-bar a{
  background-color: #b6bfce;
}
.btn-edit-confer {
  background-color: #4596d5;
}
.btn-del-confer {
  background-color: #45cbe4;
}
.btn-grab-confer {
  background-color: #fd7423;
}
.btn-enter-confer {
  background-color: #1277be;
}

.layer-conference-grab {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem;
  height: 8.2rem;
  margin: -4.1rem 0 0 -3.4rem;
  padding: 0 0.4rem;
  background-color: #FFF;
  z-index: 999;
}
.layer-conference-grab .btn-close-layer {
  position: absolute;
  top: 0.2rem;
  right: 0.4rem;
}
.layer-title {
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.36rem;
  color: #1277be;
  border-bottom: 1px solid #1277be;
}
.layer-conference-grab .form-field {

}
.layer-conference-grab .ipt-date-time,
.layer-conference-grab .ipt-text,
.layer-conference-grab .ipt-file {
  width: 100%;
}
.layer-conference-grab .field-name {
  line-height: 0.6rem;
  font-size: 0.24rem;
  color: #78859a;
}
.layer-conference-grab .field-name .tip {
  margin-left: 0.1rem;
  font-size: 0.18rem;
  color: #fd7423;
}
.layer-btn {
  width: 1.26rem;
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.24rem;
}
/****/
.conference-enter {

}
.conference-enter .conference-pic {
  width: 100%;
}
.conference-enter .conference-list-nav {
  width: 1.9rem;
  margin: 0 10px;
}
.top-search-bar {
  overflow: hidden;
  position: relative;
  display: flex;
  display: -webkit-flex;
  height: 0.4rem;
  margin-right: 0.2rem;
  background-color: #ffffff;
  border-radius: 20px;
  border: solid 2px #b6bfce;
  align-items: center;
}
.top-search-bar input[type="text"] {
  width: 1.8rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  font-size: 0.2rem;
}
.top-search-bar input[type="text"]::-webkit-input-placeholder {
  color: #b6bfce;
}
.top-search-bar input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 0.4rem;
  opacity: 0;
}
.top-search-bar .fa-search {
  flex: 0 0 0.2rem;
  -webkit-flex: 0 0 0.2rem;
  margin: 0 0.2rem;
  font-size: 0.2rem;
  color: #006ab4;
}
.conference-status-switch {
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  width: 2.1rem;
  height: 0.4rem;
  margin-right: 0.1rem;
  background-color: #ffffff;
  border-radius: 20px;
  border: solid 2px #006ab4;
  line-height: 0.4rem;
  text-align: center;
}
.conference-status-switch a {
  position: relative;
  flex: 1;
  -webkit-flex: 1;
  font-size: 0.18rem;
  color: #78859a;
}
.conference-status-switch a.cur {
  background-color: #006ab4;
  color: #FFF;
}
.conference-status-switch a:nth-child(-n+2):before {
  content: '';
  position: absolute;
  top: 0.07rem;
  right: 0;
  width: 1px;
  height: 0.26rem;
  background-color: #78859a;
}

/*********************************/
/*********************************/

.conference-new .coming-soon {
  width: 100%;
  height: 11rem;
  background: url('../img/coming-soon.png') no-repeat left bottom;
  background-size: 100% auto;
}

/*********************************/

/*********************************/
.user-activation-content {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-active-value {
  position: absolute;
  top: 0.4rem;
  left: 0.2rem;
  width: 2rem;
  min-height: 1rem;
  padding-left: 1rem;
  background: url('../img/user-activation-1.png') no-repeat left top;
  background-size: 0.84rem 0.84rem;
  line-height: 1;
}
.item-active-value .item-title {
  margin-bottom: 0.1rem;
  font-size: 0.3rem;
  color: #b6bfce;
}
.item-active-value .item-value {
  font-size: 0.8rem;
  color: #78859a;
}
.user-activation-2 {
  position: absolute;
  top: 0.3rem;
  right: 0;
  width: 2.85rem;
  height: 2.6rem;
  background: url('../img/user-activation-2.png');
  background-size: contain;
}
.user-activation-data {
  position: relative;
  width: 100%;
  height: 11rem;
  background: url('../img/user-activation-3.png') no-repeat left bottom;
  background-size: 100% auto;
}
.user-activation-data .item-data {
  position: absolute;
  border-radius: 50%;
}
.item-data-1 {
  left: 0.3rem;
  bottom: 4.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(83, 198, 234, 0.2);
  line-height: 1;
  font-size: 24px;
}
.user-activation-data {
  text-align: center;
}
.user-activation-data .item-title {
  color: #1277be;
}
.user-activation-data .item-value {
  color: #78859a;
}
.user-activation-data .item-value b{
  color: #1277be;
  font-weight: bold;
}
.item-data-1 .item-title {
  padding: 0.37rem 0 0.15rem;
}
.item-data-1 .item-value b {
  margin-right: 5px;
  font-size: 48px;
}
.item-data-2 {
  left: 0.85rem;
  bottom: 6.2rem;
  width: 2.1rem;
  height: 2.1rem;
  background-color: rgba(83, 198, 234, 0.4);
  line-height: 1;
  font-size: 30px;
}
.item-data-2 .item-title {
  padding: 0.54rem 0 0.15rem;
}
.item-data-2 .item-value b {
  margin-right: 5px;
  font-size: 72px;
}
.item-data-3 {
  left: 3.4rem;
  bottom: 6.2rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(83, 198, 234, 0.2);
  line-height: 1;
  font-size: 24px;
}
.item-data-3 .item-title {
  padding: 0.37rem 0 0.15rem;
}
.item-data-3 .item-value b {
  margin-right: 5px;
  font-size: 48px;
}
.item-data-4 {
  left: 5.1rem;
  bottom: 5.6rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgba(83, 198, 234, 0.4);
  line-height: 1;
  font-size: 30px;
}
.item-data-4 .item-title {
  padding: 0.42rem 0 0.15rem;
}
.item-data-4 .item-value b {
  margin-right: 5px;
  font-size: 72px;
}

/*********************************/

/******* conference-report *******/
.conference-report .main-top{
  height: 0.78rem;
  margin: 0 0.2rem;
  border-bottom: 2px solid #e0f0ff;
  align-items: center;
  font-size: 24px;
  color: #1277be;
}
.conference-report .form-report{
  margin: 0 0.5rem;
  font-size: 24px;
}
.conference-report .form-report .form-field {
  display: flex;
  display: -webkit-flex;
  padding: 0.2rem 0;
  border-bottom: 1px solid #1277be;
}
.conference-report .form-report .form-field:last-child {
  border: none;
}
.conference-report .form-report .form-field i {
  width: 0.4rem;
  height: 0.4rem;
}
.conference-report .form-report .field-name {
  width: 1.1rem;
  line-height: 0.44rem;
  color: #1277be;
}
.form-field-rt {
  flex: 1;
  -webkit-flex: 1;
}
.select-bar,
.ipt-date-time,
.ipt-text,
.ipt-file {
  position: relative;
  display: block;
  width: 4.6rem;
  height: 0.44rem;
  border: 2px solid #1277be;
  border-radius: 0.22rem;
  line-height: 0.44rem;
}
.ipt-file {
  border-color: #b6bfce;
}
.select-bar:not(.read-only):after,
.ipt-date-time:not(.read-only):after {
  content: '';
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  width: 0.34rem;
  height: 0.28rem;
  background: url('../img/i-arrow-down.png') no-repeat 0 0;
  background-size: contain;
  z-index: 1;
}
.select-bar .select-value,
.ipt-date-time .date-time-val,
.ipt-file .ipt-file-value {
  padding-left: 0.35rem;
  color: #78859a;
}
.select-value {
  overflow: hidden;
  width: 100%;
  height: 0.44rem;
  padding: 0 0.35rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.conference-report .ipt-date-time:first-child {
  margin-bottom: 0.35rem;
}
.select-bar select,
.ipt-date-time input,
.ipt-text input,
.ipt-file input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.44rem;
  padding-left: 0.35rem;
  border: none;
  background: transparent;
  font-size: 0.24rem;
  opacity: 0;
  z-index: 2;
}
.ipt-text input {
  opacity: 1;
}
.form-field-rt .read-only {
  border-color: transparent;
}
.form-field-rt .read-only input,
.form-field-rt .read-only select {
  display: none;
}

#report-data-chart {
  position: relative;
  width: 6.05rem;
  height: 3.2rem;
  margin: 0.2rem auto 0;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
#report-data-chart .y-axis {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.77rem;
  padding-top: 0.35rem;
  padding-left: 0.1rem;
  text-align: center;
}
#report-data-chart .y-axis div{
  height: 0.65rem;
  padding-bottom: 0.1rem;
}
#report-data-chart .y-axis .name {
  display: block;
  font-size: 24px;
  color: #1277be;
}
#report-data-chart .y-axis .unit {
  color: #bbc3d1;
}
#report-data-chart .x-axis {
  position: absolute;
  top: 2.65rem;
  left: 1.25rem;
  display: flex;
  display: -webkit-flex;
  width: 4.8rem;
}
#report-data-chart .x-axis div {
  margin-left: 0.4rem;
  width: 0.8rem;
  font-size: 20px;
  text-align: center;
  color: #1277be;
}
#report-data-chart .chart {
  position: absolute;
  top: 0.15rem;
  left: 0.85rem;
}
#report-data-chart .grids {
  display: flex;
  display: -webkit-flex;
  width: 4.8rem;
  height: 2.4rem;
  border-bottom: 2px solid #f4fafc;
  border-right: 2px solid #f4fafc;
}
#report-data-chart .grids div {
  flex: 1;
  -webkit-flex: 1;
  /* box-sizing: border-box; */
  /* f4fafc */
  border-left: 2px solid #f4fafc;
}
#report-data-chart .bars {
  position: absolute;
  top: 0.2rem;
  left: 0;
  width: 100%;
  height: 100%;
}
#report-data-chart .bars div {
  height: 0.55rem;
  margin: 0 0 0.2rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div.bg-orange {
  background-image: linear-gradient(0, #ff7403, #ff9a40);
}
div.bg-light-blue {
  background-image: linear-gradient(0, #00a6ff, #00c1ff);
}
div.bg-blue {
  background-image: linear-gradient(0, #0175c0, #239cd4);
}
/*********************************/

/******* conference-upload *******/

.conference-upload .main-top{
  height: 0.78rem;
  margin: 0 0.2rem;
  border-bottom: 2px solid #e0f0ff;
  align-items: center;
  font-size: 24px;
  color: #1277be;
}
.conference-upload .secs{
  margin: 0 0 0 0.47rem;
}
.conference-upload .sec {
  display: flex;
  display: -webkit-flex;
  padding-top: 0.5rem;
}
.conference-upload .sec i {
  width: 0.34rem;
  height: 0.36rem;
  vertical-align: top;
}
.conference-upload .sec .sec-rt {
  flex: 1;
  -webkit-flex: 1;
}
.conference-upload .sec .sec-title{
  margin-bottom: 0.24rem;
  font-size: 24px;
  color: #1277be;
}
.sec-file-list li {
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 2.7rem;
  height: 1.8rem;
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  vertical-align: top;
}
.sec-file-list li:nth-child(odd) {
  margin-right: 0.2rem;
}
.sec-file-list .btn-upload {
  padding-top: 0.4rem;
  background: #edeff3;
  text-align: center;
  font-size: 24px;
  color: #78859a;
}
.sec-file-list .btn-upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.sec-file-list .btn-upload i {
  display: block;
  width: 0.56rem;
  height: 0.56rem;
  margin: 0 auto 0.2rem;
  background: url('../img/icon/i-upload.png') no-repeat 0 0;
  background-size: contain;
}
.sec-file-list li:not(.btn-upload) {
}
.sec-file-list li .file {
  width: 2.42rem;
  height: 1.8rem;
  margin: 0 auto;
  background: url('../img/file-pic.png') no-repeat 0 0;
  background-size: contain;
}
.sec-file-list li .btn-del-file {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  width: 0.46rem;
  height: 0.46rem;
  background: url('../img/i-del-file.png') no-repeat 0 0;
  background-size: contain;
}
.uploaded-pic {
  display: block;
  width: 2.7rem;
  height: 1.8rem;
}

.layer-warn-max-files,
.layer-warn-max-images,
.layer-confirm-del {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2rem 0 0 -3.5rem;
  width: 7rem;
  height: 4rem;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
  z-index: 999;
}
.layer-warn-max-files .i-close,
.layer-warn-max-images .i-close,
.layer-confirm-del .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-warn-max-files .layer-content,
.layer-warn-max-images .layer-content,
.layer-confirm-del .layer-content {
  padding: 1.5rem 0 0.75rem;
  text-align: center;
  font-size: 0.48rem;
  color: #fd7423;
}
.layer-warn-max-files .layer-btn-bar,
.layer-warn-max-images .layer-btn-bar,
.layer-confirm-del .layer-btn-bar {
  text-align: center;
}
.layer-warn-max-files .layer-btn-bar input,
.layer-warn-max-images .layer-btn-bar input,
.layer-confirm-del .layer-btn-bar input {
  width: 1.4rem;
  margin: 0 0.2rem;
}
/*********************************/

/****** conference-enter-calendar ******/
.conference-enter-calendar .conference-list-nav {
  width: 1.9rem;
  margin: 0 10px;
}
.calendar {
  margin: 0.25rem 0.4rem 0;
}
.calendar .calendar-head {
  display: flex;
  height: 0.8rem;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  background: #c7eff7;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: #1277be;
}
.calendar .calendar-head i {
  font-size: 48px;
}
.current-data-info {
  flex: 1;
  text-align: center;
}
.calendar-body {
  line-height: 0.6rem;
  font-size: 24px;
}
.calendar-body .weeks {
  height: 0.6rem;
  border-bottom: 2px solid #45cbe4;
}
.calendar-body li{
  display: inline-block;
  width: 0.9rem;
  box-sizing: border-box;
  color: #78859a;
  vertical-align: top;
}
.calendar-body .weeks li{
  text-align: center;
}
.calendar-body .days {
  height: 7.5rem;
}
.calendar-body .days li{
  float: left;
  height: 1.5rem;
  padding: 0.1rem;
  border-left: 2px solid #e0f0ff;
  border-bottom: 2px solid #e0f0ff;
  line-height: 1;
  font-size: 20px;
}
.calendar-body .days li.off {
  background-color: #eff7ff;
}
.calendar-body .days li:nth-child(7n) {
  border-right: 2px solid #e0f0ff;
}
.ycj, .yqd, .kwg {
  display: flex;
  height: 0.35rem;
  margin: 2px 0 0 0;
  color: #FFF;
  align-items: center;
}
.calendar-body .days i {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  margin: 0 0.1rem 0 0.15rem;
  vertical-align: middle;
}
.ycj {
  left: 66%;
  background: #006ab4;
}
.ycj i {
  background: url("../img/icon/i-ycj.png") no-repeat 0 0;
  background-size: contain;
}
.yqd {
  background: #45cbe4;
}
.yqd i {
  background: url("../img/icon/i-yqd.png") no-repeat 0 0;
  background-size: contain;
}
.kwg {
  left: 33%;
  background: #fd7423;
}
.kwg i {
  background: url("../img/icon/i-kwg.png") no-repeat 0 0;
  background-size: contain;
}

.calendar-label {
  padding-top: 0.15rem;
  text-align: right;
}
.calendar-label i {
  position: relative;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  margin: 0 0.1rem 0 0.2rem;
  border-radius: 50%;
  vertical-align: middle;
}
.calendar-label span {
  vertical-align: middle;
}
.calendar-label i:before {
  content: '';
  position: absolute;
  top: 0.04rem;
  left: 0.04rem;
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
}
.calendar-label i.circle-blue {
  background: rgba(0, 106, 180, 0.3);
}
.calendar-label i.circle-blue:before {
  background: #006ab4;
}
.calendar-label i.circle-light-blue {
  background: rgba(69, 203, 228, 0.3);
}
.calendar-label i.circle-light-blue:before {
  background: #45cbe4;
}
.calendar-label i.circle-orange {
  background: rgba(253, 116, 35, 0.3);
}
.calendar-label i.circle-orange:before {
  background: #fd7423;
}

.layer-conference-detail {
  display: none;
  position: absolute;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 50%;
  width: 7rem;
  margin-left: -3.5rem;
  border: 1px solid transparent;
  background: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  z-index: 999;
  font-size: 0.24rem;
}
.layer-conference-detail .layer-content {
  overflow: auto;
  position: absolute;
  top: 0.95rem;
  left: 0.2rem;
  bottom: 1rem;
  right: 0.2rem;
}
.layer-conference-detail .confer-detail-switch {
  display: flex;
  transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
}
.layer-conference-detail .confer-detail-switch .confer-page{
  flex: 0 0 100%;
}
.layer-conference-detail .conference-btn-bar {
  display: flex;
  position: absolute;
  height: 0.8rem;
  bottom: 0;
  left: 0.4rem;
  right: 0.4rem;
  justify-content: space-between;
  align-items: center;
}
.layer-conference-detail .conference-btn-bar {
  text-align: center;
}
.layer-conference-detail .conference-btn-bar .btn-bar {
  flex: 1;
}
.layer-conference-detail .conference-btn-bar .btn-bar button{
  width: 1.4rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  line-height: 0.5rem;
  font-size: 0.24rem;
  color: #FFF;
}
.layer-conference-detail .conference-btn-bar .i-arw{
  width: 0.5rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 48px;
  color: #006ab4;
}
.layer-conference-detail .btn-close-layer {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 24px;
}
.conference-picture {
}
.conference-picture img {
  display: block;
  width: 6.4rem;
  margin: 0 auto;
}
.conference-detail-info,
.conference-detail-room {
  padding: 0.25rem 0.4rem 0.15rem 0.4rem;
}
.conference-detail-info .detail-title,
.conference-detail-room .detail-title{
  color: #006ab4;
}
.conference-detail-info .info-content,
.conference-detail-room .info-content {
  color: #1893e7;
}
.conference-detail-info .item-info {
  margin-top: 0.25rem;
  padding-left: 0.1rem;
  border-left: 0.04rem solid #919191;
}
.room-list {
}
.room-list .room-name {
  margin-bottom: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #919191;
  padding-left: 0.14rem;
  color: #006ab4;
}
.room-list .form-field {
  margin-bottom: 0.4rem;
  padding-left: 0.14rem;
}
.room-list .field-name.justify {
  width: 1rem;
}
.room-list .field-name {
  overflow: hidden;
  display: inline-block;
  height: 0.28rem;
  margin-right: 0.1rem;
  line-height: 0.28rem;
  color: #1893e7;
  vertical-align: middle;
}
.room-list .field-text {
  color: #808080;
}
.room-list em {
  vertical-align: middle;
}
.room-list .field-text {
  vertical-align: middle;
}
.room-list a.field-text {
  color: #fd7423;
  border-bottom: 1px solid #fd7423;
}
/*********************************/

/*********************************/
.calendar-body-times {
  color: #78859a;
  overflow: auto;
}
.calendar-body-times .weeks {
  display: flex;
  width: 11.24rem;
  padding: 0.2rem 0 0.15rem .85rem;
  border-bottom: 2px solid #45cbe4;
  text-align: center;
}
.calendar-body-times .weeks div{
  width: 1.6rem;
  color: #45cbe4;
}
.calendar-body-times .times {
  display: flex;
  width: 12.1rem;
}
.calendar-body-times .times .y-axis {
  width: .8rem;
  /* flex: .5; */
}
.calendar-body-times .times li{
  position: relative;
  width: 1.6rem;
  border-right: 1px solid #e0f0ff;
}

.calendar-body-times .times .y-axis div,
.calendar-body-times .times .grids div {
  box-sizing: border-box;
  height: 0.8rem;
  padding-top: 5px;
  border-bottom: 1px solid #e0f0ff;
}
.calendar-body-times .times .confer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1.6rem;
}
.calendar-body-times .times .confer .ycj,
.calendar-body-times .times .confer .yqd,
.calendar-body-times .times .confer .kwg {
  position: absolute;
  width: 33%;
  height: auto;
  padding-top: 0.08rem;
  align-items: flex-start;
  justify-content: center;
}
.calendar-body-times .times .confer > div > i {
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  /* background: #; */
}

.calendar-body-times .times .confer .confer-btm {
  overflow: hidden;
  display: flex;
  position: absolute;
  top: 0.4rem;
  bottom: 0;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  line-height: 1;
}
.calendar-body-times .times .confer .confer-btm .confer-cnt {
  width: 100%;
  margin-bottom: 0.05rem;
  font-size: 0.3rem;
  text-align: center;
}
.calendar-body-times .times .confer .confer-btm .fa-angle-right {
  font-size: 24px;
}
/*********************************/
/* carl */
.brand .index-menu i{
  background: url('../img/icon/icon-index2.png') no-repeat 0 0;
}
.brand .index-menu .i-index-menu-2{
  background-position: 0 -0.54rem;
  background-size: 100% auto;
}
.brand .content-foot a i.i-grab-order{
    width: 0.55rem;
    height: 0.58rem;
    background: url('../img/icon/icon-nav4.png') no-repeat 0 0;
    background-size: contain;
}
.brand .content-foot a i.i-attend{
    width: 0.55rem;
    height: 0.58rem;
    background: url('../img/icon/icon-nav3.png') no-repeat 0 0;
    background-size: contain;
}
.brand .virtual-scene{
  background: url('../img/virtual-scene2.png');
}
.brand .create-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.2rem;
}
.brand .create-content li {
  margin: 0 0 .3rem;
}
.brand .create-content a{
    display: block;
    width: 3rem;
    height: 2.3rem;
    padding: .1rem;
    background-color: #ffffff;
    box-shadow: 0rem 0rem 0.2rem 0rem
      rgba(0, 173, 228, 0.33);
    border-radius: 0.1rem;
    text-align: center;
}
.brand .create-content a img {
  width: 2.8rem;
  height: 1.8rem;
  border-radius: 0.1rem;
}
.brand .create-content a button {
  display: block;
  width: 1.2rem;
  height: 0.3rem;
  margin: 0.1rem auto 0;
  background-color: #1277be;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
  border-radius: 0.2rem;
  color: #FFF;
  font-size: .16rem;
}
.new-conference .new-conference-btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.new-conference .new-conference-btn div{
  width: 1rem;
  height: 0.4rem;
  margin: 0 .1rem;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: .2rem;
  text-align: center;
  line-height: .4rem;
}
.new-conference .new-conference-btn div i{
  margin-right: .05rem;
}
.new-conference .new-conference-btn .submit{
  background-color: #1277be;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
}
.new-conference .new-conference-btn .save{
  background-color: #4596d5;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
}
.new-conference .new-conference-btn .cancel{
  background-color: #45cbe4;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
}
.new-conference .form-report .field-name{
  min-width: 1.3rem;
  width: auto;
}
.new-conference .select-bar{
  width: 4.4rem;
  border-color: #45cbe4;
}
.new-conference .time {
  width: 2rem;
}
.new-conference .time+b {
  margin: 0 .1rem;
}
.new-conference .form-report .form-field:last-child{
  border-bottom: 1px solid #1277be;
}
.new-conference .form-report .form-field{
  align-items: center;
  flex-wrap: wrap;
}
.new-conference .form-report .form-field>i {
  display: inline-block;
  width: .1rem;
  height: .1rem;
  margin-right: .1rem;
  background-color: #fd7423;
  border-radius: 50%;
}
.new-conference .form-report .form-field>b {
  display: inline-block;
  width: .1rem;
  height: .1rem;
  margin-right: .1rem;
  background-color:transparent;
}
.input-bar{
  position: relative;
  display: block;
  width: 4.4rem;
  height: 0.44rem;
  border: 2px solid #45cbe4;
  border-radius: 0.22rem;
  line-height: 0.44rem;
}
.disabled{
  border: 2px solid #b6bfce;
}
.margin-left150{
  margin-left: 1.5rem;
}
.input-bar input {
  display: block;
  width: 85%;
  height: 100%;
  padding-left: 0.35rem;
  background-color: transparent;
  font-size: 24px;
  color: #78859a;
  line-height: .44rem;
}
.radio-bar{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 4.4rem;
  padding-top: .3rem;
  color: #78859a;
}
.radio-bar label{
  margin-bottom: .27rem;
}
.radio-bar i{
  display: inline-block;
  width: .26rem;
  height: .26rem;
  margin-right: .2rem;
  border: 1px #b6bfce solid;
  vertical-align: middle;
}
.radio-bar label input:checked+i{
  background: url('../img/icon/icon-check2.png') no-repeat 0 0 / cover;
}
.prompt{
  margin-top: .2rem;
  padding-left: 1.5rem;
  color: #fd7423;
}
.venue{
  padding-top:.35rem;
}
.venue h2{
  font-size:24px;
  color: #fd7423;
}
.preview-btn{
  display: block;
  width: 1rem;
  height: 0.4rem;
  margin: 0 auto;
  background-color: #45cbe4;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
  border-radius: 0.2rem;
  color: #FFF;
  line-height: .4rem;
  text-align: center;
}
.preview-content{
  padding-bottom: .2rem;
}
.add-venue{
  display: block;
  width: 2.78rem;
  height: 0.4rem;
  margin: .5rem auto 0;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: .2rem;
  text-align: center;
  line-height: .4rem;
  background-color: #fd7423;
}
/* carl end */

/*********************************/

.layer-conference-lists {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 8.2rem;
  margin: -4.1rem 0 0 -3.5rem;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
  z-index: 999;
}

.layer-conference-lists .btn-close-layer {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 24px;
}

.layer-conference-lists .layer-content {
  overflow: auto;
  height: 7rem;
  margin-top: 1rem;
}

.layer-conference-lists ul {
  margin: 0 0.4rem;
}
.layer-conference-lists li {
  margin-bottom: 0.2rem;
  padding-bottom: 0.1rem;
  border-bottom: 1px dashed #b8c1ce;
}
.conference-detail .confer-field {
  display: flex;
  padding-left: 0.7rem;
  font-size: 24px;
}
.conference-detail .field-name {
  overflow: hidden;
  width: 1.3rem;
  margin-right: 0.2rem;
  color: #53c6ea;
}
/*********************************/

/*********************************/
.message .main-top{
  height: 0.78rem;
  margin: 0 0.2rem;
  border-bottom: 2px solid #e0f0ff;
  align-items: center;
  font-size: 24px;
  color: #1277be;
}
.msg-btn-bar,
.draft-btn-bar {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-right: 0.6rem;
  text-align: right;
}
.msg-btn-bar button,
.draft-btn-bar button {
  width: 1rem;
  height: 0.4rem;
  margin: 0 0.1rem;
  text-align: center;
  line-height: 0.4rem;
  font-size: 0.2rem;
}
.msg-btn-bar button i,
.draft-btn-bar button i {
  margin-right: 0.1rem;
}
.msg-ul,
.draft-ul {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0.5rem;
  width: 100%;
}
.msg-ul .msg-li,
.draft-ul .draft-li {
  display: flex;
  position: relative;
  margin: 0 0.6rem 0 0.2rem;
  padding: 0.2rem 0.2rem 0.2rem 0;
  border-bottom: 1px solid #e0f0ff;
  font-size: 24px;
  align-items: center;
}
.msg-ul .msg-li input,
.draft-ul .draft-li input {
  opacity: 0;

}
.msg-ul .msg-li .ipt-checkbox,
.draft-ul .draft-li .ipt-checkbox {
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #b6bfce;
  margin-right: 0.15rem;
}
.msg-ul .msg-li .i-env {
  display: inline-block;
  width: 0.28rem;
  height: 0.28rem;
  margin-right: 0.2rem;
  background: url("../img/icon/icon-draft.png") no-repeat 0 0.04rem;
  background-size: 100% auto;
}
.msg-ul .msg-li .i-env.opened {
  background-position: 0 -0.27rem;
}
.msg-ul .msg-li .msg,
.draft-ul .draft-li .draft {
  display: inline-block;
  flex: 1;
  margin-right: 0.1rem;
  color: #1277be;
}
.msg-ul .msg-li .date,
.draft-ul .draft-li .date {
  color: #b8c1ce;
}
/*********************************/

/******* conference-mine-list ****/

.conference-mine-list .conference-status.is-confirmed {
  background-color: #1277be;
}
.btm-btn-bar, .btm-tip {
  padding: 0.1rem 0.3rem 0.1rem;
  text-align: right;
  color: #1277be;
  font-size: 24px;
}
.btm-btn-bar a, .btm-tip a {
  border-bottom: 1px solid #1277be;
  color: #1277be;
}

/*********************************/
.main-title a{
  display: inline-block;
  width: 1.35rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 0.5rem;
  color: #FFF;
  font-size: 24px;
}

.layer-conference-report-detail {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6.6rem;
  height: 6.8rem;
  margin: -3.4rem 0 0 -3.3rem;
  border-radius: 20px;
  box-sizing: border-box;
  background-size: contain;
  background-color: #FFF;
  z-index: 999;
}
.layer-conference-report-detail.without-form {
  height: 4.8rem;
  margin-top: -2.4rem;
}
.layer-conference-report-detail .btn-close-layer {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}
.form-details > a{
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-color: #b6bfce;
  display: inline-block;
  width: 1.35rem;
  height: 0.5rem;
  margin: 0 0.1rem;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 0.5rem;
  color: #FFF;
  font-size: 24px;
}

.layer-conference-report-detail .form-details{
  margin-top: 1rem;
}

.layer-conference-report-detail .form-details .form-field{
  display: flex;
  display: -webkit-flex;
  font-size: .25rem;
  margin: 0 auto;
}

.form-details .form-field .field-name{
  width: 1.6rem;
  line-height: 0.44rem;
  color: #1277be;
}

.form-details .select-bar,.form-details .ipt-date-time{
  position: relative;
  display: block;
  height: 0.44rem;
  border: 2px solid #1277be;
  border-radius: 0.22rem;
  line-height: 0.44rem;
}

.form-details .select-bar .select-value,.form-details .ipt-date-time .date-time-val{
  padding-right: 0.2rem;
  color: #78859a;
}

.form-details-img{
  margin: 0.8rem auto 0.2rem;
}

.form-details-img  img,.form-details-img img{
  width: 2.6rem;
  height: 2.6rem;
  margin: 0 0.3rem;
}
.layer-conference-report-detail .form-btn a{
  display: inline-block;
  width: 2.5rem;
  height: 0.5rem;
  margin: 0 0.3rem;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 0.5rem;
  color: #FFF;
  font-size: 24px;
}
.btn-single-confer{
  background-color: #4596d5;
}
.btn-upload-confer{
  background-color: #fd7423;
}


/*********************************/

/************** draft ************/
.draft .main-top{
  height: 0.78rem;
  margin: 0 0.2rem;
  border-bottom: 2px solid #e0f0ff;
  align-items: center;
  font-size: 24px;
  color: #1277be;
}
/*********************************/

/************* manuals ***********/
.manuals {}
.manuals .main-top{
  height: 0.78rem;
  margin: 0 0.2rem;
  border-bottom: 2px solid #e0f0ff;
  align-items: center;
  font-size: 24px;
  color: #1277be;
}
.banner-manuals {
  margin: 0 0.2rem;
}
.banner-manuals img {
  display: block;
  width: 100%;
}
.manuals-ul {
  margin: 0 0.2rem;
}
.manuals-li {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.1rem;
  color: #1277be;
  border-bottom: 1px solid #e0f0ff;
}
.manuals-li:last-child {
  border-bottom: none;
}
.manuals-li a{
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.24rem;
}
.manuals-li i.i-manuals {
  width: 0.4rem;
  height: 0.42rem;
  margin-right: 0.1rem;
  background: url('../img/icon/icon-pdf.png');
  background-size: contain;
}
.manuals-li .name{
  flex: 1;
}
.manuals-li .date {
  color: #b8c1ce;
}
.supervise .body {
  bottom: 0;
}
/*********************************/

/************* supervise *************/
.supervise .conference-pic {
  width: 100%;
}
.supervise .conference-info p label {
  width: 1.2rem;
}
.supervise .top-search-bar {
  flex: 1;
  margin: 0 0.2rem;
}
.supervise .main-content {
  top: 0.2rem;
}
.ipt-search {
  flex: 1;
}
.head-search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  border-right: 2px solid #e0f0ff;
  font-size: 0.24rem;
  color: #1277be;
}
.head-search-bar i.i-supervise {
  width: 0.32rem;
  height: 0.32rem;
  margin: 0 0.1rem 0 0.23rem;
  background: url('../img/icon/icon-monitor.png');
  background-size: contain;
}
/*********************************/
.new-conference .submit-btn{
  display: block;
  padding: 0.2rem 0;
  text-align: center;
}
.new-conference .submit-btn button {
  width: 1rem;
  height: 0.4rem;
  margin: 0 .1rem;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: .2rem;
  text-align: center;
  line-height: .4rem;
  background-color: #1277be;
  box-shadow: 0rem 0.1rem 0.2rem 0rem
    rgba(0, 173, 228, 0.15);
}
.pop-head{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
}
.pop-head .header{
  position: relative;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  height: 1.2rem;
  background-color: #FFF;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1;
}
.pop-head .link-return {
  width: 1.24rem;
  border-right: 2px solid #e0f0ff;
}
.pop-head .link-return i {
  display: block;
  width: 0.49rem;
  height: 0.32rem;
  margin: 0.3rem 0.36rem 0.17rem;
  background: url('../img/icon/icon-back-index.png') no-repeat center bottom;
}
.pop-head .header label{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 5rem;
  height: 0.6rem;
  padding: 0 .25rem;
  margin-top: .3rem;
  margin-left: .2rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  border: solid 0.02rem #b6bfce;
  vertical-align: middle;
}
.pop-head .header label input{
  width: 80%;
  height: 100%;
  background: transparent;
  font-size: .24rem;
}
.pop-head .header label i {
  color: #006ab4;
  font-size: .35rem;
}
.pop-head .head-list{
  width: 90%;
  height: 8rem;
  margin: .21rem auto 0;
  padding: 0 .2rem;
	background-color: #ffffff;
	box-shadow: 0rem 0rem 0.2rem 0rem
		rgba(0, 173, 228, 0.15);
  border-radius: 0.2rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.pop-head .head-list li {
  height: .7rem;
  padding: 0 .55rem;
  line-height: .7rem;
  border-bottom: 1px solid #e0f0ff;
  color: #1277be;
  font-size: .24rem;
}