/********* login *********/
.login {
}
.login .content {
  min-height: 100%;
  padding-top: 1.9rem;
}
.login .btn-confirm {
  margin-right: 0.4rem;
}
.slogan {
  width: 100%;
  height: 1.88rem;
  margin-bottom: 0.95rem;
  background: url('../img/slogan.png');
  background-size: contain;
}
.link-user-pwd-tip {
  padding-top: 1.5rem;
  line-height: 55px;
  text-align: center;
  font-size: 28px;
}
.link-user-pwd-tip a {
  display: inline-block;
  margin: 0 0.3rem;
  color: #4596d5;
}
.link-user-pwd-tip i{
  display: inline-block;
  width: 0.56rem;
  height: 0.63rem;
  margin-right: 10px;
  vertical-align: middle;
}
.link-user-pwd-tip span {
  display: inline-block;
  vertical-align: middle;
}
/*************************/

/*************************/
.register .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}
.register .slogan {
  margin-bottom: 0.4rem;
}
.register .btn-bar {
  padding-top: 0.2rem;
}
.register .btn-next-step {
  width: 3.4rem;
  height: 0.8rem;
}
.form-register-step-1 .form-field{
  padding-bottom: 0.2rem;
}
.form-register-step-2 {
  display: none;
  padding-top: 1rem;
}
.link-to-login {
  position: absolute;
  top: 0.49rem;
  left: 0.45rem;
  font-size: 30px;
  line-height: 55px;
  color: #78859a;
}
.link-to-login .i-return-gray {
  display: inline-block;
  width: 0.49rem;
  height: 0.33rem;
  vertical-align: text-top;
  margin-right: 16px;
}
.bar-privacy-policy {
  position: relative;
  padding-top: 0.56rem;
  text-align: center;
}
.bar-privacy-policy .ipt-checkbox-policy {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.bar-privacy-policy .ipt-checkbox {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 28px;
  border: 2px solid #b6bfce;
  vertical-align: middle;
}
.bar-privacy-policy span {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #9fa0a0;
}
.layer-privacy-policy {
  display: none;
  position: absolute;
  top: 0.65rem;
  left: 0.25rem;
  bottom: 0.6rem;
  right: 0.25rem;
  padding: 0.3rem;
  background-color: #FFF;
  z-index: 999;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
}
.layer-privacy-policy .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-privacy-policy .layer-title{
  height: 1.74rem;
  border-bottom: 6px solid #e0f0ff;
  font-size: 54px;
  line-height: 1.74rem;
  text-align: center;
  color: #0074b6;
}
.layer-privacy-policy .layer-content {
  overflow: auto;
  position: absolute;
  top: 2.54rem;
  left: 0;
  right: 0;
  bottom: 0.2rem;
  padding: 0 0.3rem;
  line-height: 32px;
  font-size: 24px;
  color: #818181;
  text-align: justify;
  letter-spacing: 3px;
}
.layer-warn-policy {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7rem;
  height: 4rem;
  margin: -2rem 0 0 -3.5rem;
  background-color: #FFF;
  box-shadow: 0px 10px 20px 0px rgba(0, 173, 228, 0.15);
  border-radius: 20px;
  border: solid 3px #ffffff;
  z-index: 999;
}
.layer-warn-policy .i-close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
}
.layer-warn-policy .layer-content {
  padding-top: 1.5rem;
  text-align: center;
  font-size: 48px;
  color: #fd7423;
}
.layer-warn-policy .layer-btn-bar {
  padding-top: 0.8rem;
  text-align: center;
}
.layer-warn-policy .btn-close-layer {
  width: 1.4rem;
  height: 0.6rem;
  margin-top: 0;
  line-height: 0.6rem;
}
/*************************/

/********* change-password *********/

.change-password .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}
.change-password .tip-err {
  display: none;
}

/*************************/
.forgot-password .content {
  min-height: 100%;
  padding-top: 1.35rem;
  padding-bottom: 2.25rem;
}

.forgot-password .btn-bar {
  padding-top: 0.2rem;
}

.forgot-password .form-field {
  padding-bottom: 0.2rem;
}