<!DOCTYPE html>
<html>
<head>
  <title>品牌底部导航</title>
  <meta name="viewport" content="width=device-width,initial-scale=0.5,maxinum-scale=0.5,user-scalable=0">
  <link href="../../css/reset.css" rel="stylesheet" />
  <link href="../../css/com.css" rel="stylesheet" />
  <link href="../../css/font-awesome.min.css" rel="stylesheet" />
  <link href="../../css/iconfont.css" rel="stylesheet" />
  <script src="../../js/size.js"></script>
</head>
<body>
  <footer id="footer" class="brand-footer">
    <div class="btm-nav">
      <a href="#" class="cur"><i class="i-bar2-1"></i>创建会议</a>
      <a href="#"><i class="i-bar2-2"></i>查看报告</a>
      <a href="#"><i class="i-bar2-3"></i>我的会议</a>
      <a href="#"><i class="i-bar2-4"></i>确认会议</a>
    </div>
  </footer>
</body>
</html>