<!DOCTYPE html>
<html>
<head>
  <title>品牌顶部导航</title>
  <meta name="viewport" content="width=device-width,initial-scale=0.5,maxinum-scale=0.5,user-scalable=0">
  <link href="../../css/reset.css" rel="stylesheet" />
  <link href="../../css/com.css" rel="stylesheet" />
  <link href="../../css/font-awesome.min.css" rel="stylesheet" />
  <link href="../../css/iconfont.css" rel="stylesheet" />
  <script src="../../js/size.js"></script>
</head>
<body>
  <!-- /header -->
  <header id="header">
    <a href="#" class="link-return"><i></i>返回首页</a>
    <ul class="nav">
      <li><a href="#"><i class="iconfont icon-huiyijiyao"></i>计划场次</a><span>12</span></li>
      <li><a href="#"><i class="iconfont icon-gongwenbao"></i>已开会议</a><span>34</span></li>
      <li><a href="#"><i class="fa fa-stethoscope"></i>覆盖医生</a><span>20</span></li>
      <li><a href="#"><i class="fa fa-vcard-o"></i>覆盖代表</a><span>20</span></li>
    </ul>
    <a href="#" class="link-my-message"><i class="iconfont icon-xiaoxi"></i><span class="msg-count">2</span>我的消息</a>
    <div class="btn-open-side-nav"><span class="i-btn-side-nav"><i></i><i></i><i></i></span></div>
  </header>
  <div class="side-nav">
    <div class="side-nav-head">
      <p>技术支持热线4000621818</p>
      <p>隐私条款</p>
      <p>操作手册</p>
    </div>
    <div class="side-nav-foot">
      <p class="co-info">上海会畅通讯股份有限公司版权所有<br />沪ICP备11034277号-18</p>
      <p class="co-code">沪公网安备31010602002539号</p>
    </div>
  </div>
  <script src="../../js/jquery-2.1.3.min.js"></script>
  <script src="../../js/com.js"></script>
  <script>
    var layer = LayerManager()
    layer.add('sideNav', 'side-nav', 'layer-cover-black')
    $('.btn-open-side-nav').bind('click', function () {
      layer.show('sideNav')
    })
  </script>
</body>
</html>