<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>瑞医同行</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../../css/reset.css" rel="stylesheet" />
    <link href="../../css/com.css" rel="stylesheet" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/iconfont.css" rel="stylesheet" />
    <link href="../../css/page.css" rel="stylesheet" />
    <script src="../../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="conference-mine-calendar">
    <header id="header">
      <a href="index.html" class="link-return"><i></i>返回首页</a>
      <ul class="nav">
        <li><a href="#"><i class="iconfont icon-trophy_icon"></i>我的排名</a><span>12</span></li>
        <li><a href="#"><i class="iconfont icon-dituleiditu"></i>区域之星</a><span>李丽丽</span></li>
        <li><a href="#"><i class="iconfont icon-shixunchengji"></i>品牌之星</a><span>赵钱孙</span></li>
      </ul>
      <a href="message.html" class="link-my-message"><i class="iconfont icon-xiaoxi"></i><span class="msg-count">2</span>我的消息</a>
      <div class="btn-open-side-nav"><span class="i-btn-side-nav"><i></i><i></i><i></i></span></div>
    </header>
    <div class="side-nav">
      <div class="side-nav-head">
        <p><i class="i-phone"></i><span>技术支持热线4000621818</span></p>
        <p><i class="i-book"></i><span>隐私条款</span></p>
        <p><a href="manuals.html"><i class="i-notepad"></i><span>操作手册</span></a></p>
      </div>
      <div class="side-nav-foot">
        <p class="co-info">上海会畅通讯股份有限公司版权所有<br />沪ICP备11034277号-18</p>
        <p class="co-code"><i class="i-copyright"></i>沪公网安备31010602002539号</p>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <div class="main-top">
          <div class="sub-nav conference-list-nav">
            <a href="conference-mine-created.html"><i class="fa fa-th-large"></i><span>列表排列</span></a>
            <a href="conference-mine-calendar.html" class="cur"><i class="fa fa-calendar"></i><span>日历排列</span></a>
          </div>
          <div class="conference-status-switch">
            <a href="conference-mine-calendar.html" class="cur">月历</a>
            <a href="conference-mine-weeks.html">周历</a>
          </div>
        </div>
        <div class="main-content">
          <div class="calendar">
            <div class="calendar-head">
              <div class="i-arw btn-prev-mon"><i class="fa fa-angle-left"></i></div>
              <div class="current-data-info">
                <span class="year">2018年</span>
                <span class="month">5月</span>
              </div>
              <div class="i-arw btn-next-mon"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="calendar-body">
              <ul class="weeks">
                <li>周一</li><li>周二</li><li>周三</li><li>周四</li><li>周五</li><li>周六</li><li>周日</li>
              </ul>
              <ul class="days">
                <li class="off">29</li><li class="off">30</li><li>01</li><li>02<div class="yqd"><i></i>2</div><div class="ycj"><i></i>1</div><div class="kwg"><i></i>2</div></li><li>03</li><li>04</li><li>05</li>
                <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11<div class="yqd"><i></i>2</div><div class="kwg"><i></i>2</div></li><li>12</li>
                <li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li><li>19<div class="yqd"><i></i>2</div></li>
                <li>20</li><li>21<div class="kwg"><i></i>2</div></li><li>22</li><li>23</li><li>24<div class="yqd"><i></i>2</div><div class="ycj"><i></i>1</div></li><li>25</li><li>26</li>
                <li>27<div class="ycj"><i></i>1</div><div class="kwg"><i></i>2</div></li><li>28</li><li>29</li><li>30</li><li>31</li><li class="off">1</li><li class="off">2</li>
              </ul>
            </div>
            <div class="calendar-foot">
              <div class="calendar-label">
                <i class="circle-blue"></i><span>已创建会议</span>
                <i class="circle-light-blue"></i><span>已抢单会议</span>
                <i class="circle-orange"></i><span>可围观会议</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="brand-footer">
      <div class="btm-nav">
        <a href="create-conference.html"><i class="i-bar2-1"></i>创建会议</a>
        <a href="conference-report.html"><i class="i-bar2-2"></i>查看报告</a>
        <a class="cur" href="conference-mine-created.html"><i class="i-bar2-3"></i>我的会议</a>
        <a href="conference-approve.html"><i class="i-bar2-4"></i>确认会议</a>
      </div>
    </footer>
  </div>
  <div class="layer-conference-detail">
    <input type="button" name="" value="关 闭" class="btn-gray btn-close-layer">
    <div class="layer-content">
      <div class="confer-detail-container">
        <div class="confer-detail-switch">
          <div class="confer-page">
            <div class="conference-picture">
              <img src="../../img/temp-1.jpg" alt="">
            </div>
            <div class="conference-detail-info">
              <div class="detail-title">会议详情</div>
              <ul>
                <li class="item-info">
                  <div class="info-title">会议主题</div>
                  <div class="info-content">罗氏肿瘤名医公开课罗氏肿瘤名医公开课罗瘤氏肿瘤名医公开课</div>
                </li>
                <li class="item-info">
                  <div class="info-title">会议日期</div>
                  <div class="info-content">2017.7.26</div>
                </li>
                <li class="item-info">
                  <div class="info-title">会议时间</div>
                  <div class="info-content">16:00-17:30</div>
                </li>
              </ul>
            </div>
            <div class="conference-detail-room">
              <ul class="room-list">
                <li>
                  <div class="room-name">主会场</div>
                  <div class="form-field">
                    <span class="field-name justify">会议地点</span><em>：</em><span class="field-text">大中华主会场</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者</span><em>：</em><span class="field-text">邱健 第四军医大学附属西京医院</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者简历</span><em>：</em><a href="#" class="field-text">李莉莉简历</a>
                  </div>
                  <div class="form-field">
                    <span class="field-name">审批号有效期</span><em>：</em><span class="field-text">2019.10.21</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name">主会场负责人</span><em>：</em><span class="field-text">徐小龙</span>
                  </div>
                </li>
                <li>
                  <div class="room-name">分会场</div>
                  <div class="form-field">
                    <span class="field-name justify">会议地点</span><em>：</em><span class="field-text">大中华主会场</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者</span><em>：</em><span class="field-text">邱健 第四军医大学附属西京医院</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者简历</span><em>：</em><a href="#" class="field-text">李莉莉简历</a>
                  </div>
                  <div class="form-field">
                    <span class="field-name">审批号有效期</span><em>：</em><span class="field-text">2019.10.21</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name">主会场负责人</span><em>：</em><span class="field-text">徐小龙</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="confer-page">
            <div class="conference-picture">
              <img src="../../img/temp-1.jpg" alt="">
            </div>
            <div class="conference-detail-info">
              <div class="detail-title">会议详情</div>
              <ul>
                <li class="item-info">
                  <div class="info-title">会议主题</div>
                  <div class="info-content">罗氏肿瘤名医公开课罗氏肿瘤名医公开课罗瘤氏肿瘤名医公开课</div>
                </li>
                <li class="item-info">
                  <div class="info-title">会议日期</div>
                  <div class="info-content">2017.7.26</div>
                </li>
                <li class="item-info">
                  <div class="info-title">会议时间</div>
                  <div class="info-content">16:00-17:30</div>
                </li>
              </ul>
            </div>
            <div class="conference-detail-room">
              <ul class="room-list">
                <li>
                  <div class="room-name">主会场</div>
                  <div class="form-field">
                    <span class="field-name justify">会议地点</span><em>：</em><span class="field-text">大中华主会场</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者</span><em>：</em><span class="field-text">邱健 第四军医大学附属西京医院</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者简历</span><em>：</em><a href="#" class="field-text">李莉莉简历</a>
                  </div>
                  <div class="form-field">
                    <span class="field-name">审批号有效期</span><em>：</em><span class="field-text">2019.10.21</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name">主会场负责人</span><em>：</em><span class="field-text">徐小龙</span>
                  </div>
                </li>
                <li>
                  <div class="room-name">分会场</div>
                  <div class="form-field">
                    <span class="field-name justify">会议地点</span><em>：</em><span class="field-text">大中华主会场</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者</span><em>：</em><span class="field-text">邱健 第四军医大学附属西京医院</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name justify">讲者简历</span><em>：</em><a href="#" class="field-text">李莉莉简历</a>
                  </div>
                  <div class="form-field">
                    <span class="field-name">审批号有效期</span><em>：</em><span class="field-text">2019.10.21</span>
                  </div>
                  <div class="form-field">
                    <span class="field-name">主会场负责人</span><em>：</em><span class="field-text">徐小龙</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="conference-btn-bar">
      <button type="button" class="i-arw btn-prev-conf"><i class="fa fa-angle-left"></i></button>
      <div class="btn-bar"><button type="button" class="btn-enter-confer">一键入会</button><button type="button" class="btn-edit-confer"><i class="fa fa-pencil"></i>修改</button><button type="button" class="btn-del-confer"><i class="fa fa-close"></i>删除</button></div>
      <button type="button" class="i-arw btn-next-conf"><i class="fa fa-angle-right"></i></button>
    </div>
  </div>

  <div class="layer-conference-report-detail without-form">
    <a href="javascript:void(0)" class="btn-gray btn-close-layer"><i class="fa fa-close"></i> 关闭</a>
    <div class="form-details-img">
      <img src="../../img/single_live_report.png" alt=""/>
      <img src="../../img/upload_data_img.png" alt=""/>
    </div>
    <div class="form-btn">
      <a href="javascript:void(0)" class="btn-single-confer">单次直播报告</a>
      <a href="javascript:void(0)" class="btn-upload-confer">会后上传会议资料包</a>
    </div>
  </div>
  <script src="../../js/jquery-2.1.3.min.js"></script>
  <script src="../../js/com.js"></script>
  <script src="../../js/page.js"></script>
  <script>
    // 初始化该页面所有弹出层
    layer.add('conferenceDetail', 'layer-conference-detail', 'layer-cover-white')
    layer.add('resDetailsType', 'layer-conference-report-detail', 'layer-cover-white')

    $('.calendar-body .days i').bind('click', function () {
      layer.show('conferenceDetail')
    })

    $('.layer-conference-detail .btn-close-layer').bind('click', function () {
      layer.hide('conferenceDetail')
    })

    $('.layer-conference-report-detail .btn-close-layer').bind('click', function () {
      layer.hide('resDetailsType')
    })
    var example = function () {
      layer.show('resDetailsType')
    }
    example()
  </script>
</body>
</html>