<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>瑞医同行</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../../css/reset.css" rel="stylesheet" />
    <link href="../../css/com.css" rel="stylesheet" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/iconfont.css" rel="stylesheet" />
    <link href="../../css/page.css" rel="stylesheet" />
    <script src="../../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="conference-report new-conference">
    <header id="header">
      <a href="index.html" class="link-return"><i></i>返回首页</a>
      <ul class="nav">
        <li><a href="#"><i class="iconfont icon-huiyijiyao"></i>计划场次</a><span>12</span></li>
        <li><a href="#"><i class="iconfont icon-gongwenbao"></i>已开会议</a><span>34</span></li>
        <li><a href="#"><i class="fa fa-stethoscope"></i>覆盖医生</a><span>22</span></li>
        <li><a href="#"><i class="fa fa-vcard-o"></i>覆盖代表</a><span>22</span></li>
      </ul>
      <a href="message.html" class="link-my-message"><i class="iconfont icon-xiaoxi"></i><span class="msg-count">2</span>我的消息</a>
      <div class="btn-open-side-nav"><span class="i-btn-side-nav"><i></i><i></i><i></i></span></div>
    </header>
    <div class="side-nav">
      <div class="side-nav-head">
        <p><i class="i-phone"></i><span>技术支持热线4000621818</span></p>
        <p><i class="i-book"></i><span>隐私条款</span></p>
        <p><a href="manuals.html"><i class="i-notepad"></i><span>操作手册</span></a></p>
      </div>
      <div class="side-nav-foot">
        <p class="co-info">上海会畅通讯股份有限公司版权所有<br />沪ICP备11034277号-18</p>
        <p class="co-code"><i class="i-copyright"></i>沪公网安备31010602002539号</p>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <div class="main-top">
            <div class="new-conference-btn">
                <div class="submit"><i class="fa fa-upload"></i><span>提交</span></div>
                <div class="save"><i class="fa fa-save"></i><span>保存</span></div>
                <div class="cancel"><i class="fa fa-close"></i>取消</div>
            </div>
        </div>
        <div class="main-content">
          <div class="form-report">
                <div class="form-field">
                    <i></i>
                    <label class="field-name">会议主题：</label>
                    <div class="input-bar">
                        <input type="text">
                    </div>
                </div>
                <div class="form-field">
                    <i></i>
                    <label class="field-name">覆盖品牌：</label>
                    <div class="radio-bar">
                       <label><input type="radio"><i></i><span>品牌甲乙丙</span></label>
                       <label><input type="radio"><i></i><span>品牌甲乙丙</span></label>
                       <label><input type="radio"><i></i><span>品牌甲乙丙</span></label>
                       <label><input type="radio"><i></i><span>品牌甲乙丙</span></label>
                    </div>
                </div>
                <div class="form-field">
                    <i></i>
                    <label class="field-name">会议日期：</label>
                    <div class="select-bar">
                        <div class="select-value">品牌1</div>
                        <select>
                        <option value="1">品牌1</option>
                        <option value="2">品牌2</option>
                        </select>
                    </div>
                    <p class="prompt">请选择7天后的会议日期</p>
                </div>
                <div class="form-field">
                    <i></i>
                    <label class="field-name">会议时间：</label>
                    <div class="select-bar time">
                        <div class="select-value">品牌1</div>
                        <select>
                        <option value="1">品牌1</option>
                        <option value="2">品牌2</option>
                        </select>
                    </div>
                    <b>-</b>
                    <div class="select-bar time">
                        <div class="select-value">品牌1</div>
                        <select>
                        <option value="1">品牌1</option>
                        <option value="2">品牌2</option>
                        </select>
                    </div>
                    <p class="prompt">一经发布无法修改</p>
                </div>
                <div class="main-venue venue">
                    <h2>主会场</h2>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">会议地点（医院/酒店）：</label>
                        <div class="input-bar margin-left150">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">讲&emsp;&emsp;者：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">讲者简历：</label>
                        <div class="input-bar disabled">
                            <input type="text" disabled="disabled" value="请于PC端提交">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name ">讲者幻灯：</label>
                        <div class="input-bar disabled">
                            <input type="text" disabled="disabled" value="请于PC端提交">
                        </div>
                        <p class="prompt">会议前一天必须提交讲者PPT<br>否则不能入会</p>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">审&ensp;批&ensp;号：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">审批号有效期：</label>
                        <div class="select-bar margin-left150">
                            <div class="select-value">品牌1</div>
                            <select>
                                <option value="1">品牌1</option>
                                <option value="2">品牌2</option>
                            </select>
                        </div>
                        <p class="prompt">审批号有效期不得早于会议时间</p>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">主会场负责人：</label>
                        <div class="select-bar margin-left150">
                            <div class="select-value head-content">品牌1</div>
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <i></i>
                    <label class="field-name">是否开放讲者抢单：</label>
                    <div class="radio-bar margin-left150" style="width: 3.4rem;">
                        <label><input type="radio"><i></i><span>是</span></label>
                        <label><input type="radio"><i></i><span>否</span></label>
                    </div>
                </div>
                <div class="speakers">
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">讲者数量：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">开放区域：</label>
                        <div class="multi-select-bar select-bar">
                        <div class="select-value">请选择</div>
                            <div class="multi-select">
                                <label class="option all-option"><input type="checkbox"><i class="ipt-checkbox"></i><span>全选</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌1</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌2</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌3</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌4</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌5</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌6</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌7</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌8</span></label>
                                <label class="submit-btn"><button class="submit">确定</button></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">开放职务：</label>
                        <div class="multi-select-bar select-bar">
                            <div class="select-value">请选择</div>
                            <div class="multi-select">
                                <label class="option all-option"><input type="checkbox"><i class="ipt-checkbox"></i><span>全选</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌1</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌2</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌3</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌4</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌5</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌6</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌7</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌8</span></label>
                                <label class="submit-btn"><button class="submit">确定</button></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">截止日期</label>
                        <div class="select-bar">
                            <div class="select-value">品牌1</div>
                            <select>
                            <option value="1">品牌1</option>
                            <option value="2">品牌2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-field">
                    <i></i>
                    <label class="field-name">是否开放围观：</label>
                    <div class="radio-bar margin-left150" style="width: 3.4rem;">
                        <label><input type="radio"><i></i><span>是</span></label>
                        <label><input type="radio"><i></i><span>否</span></label>
                    </div>
                </div>
                <div class="onlookers">
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">讲者数量：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">开放区域：</label>
                        <div class="multi-select-bar select-bar">
                            <div class="select-value">请选择</div>
                            <div class="multi-select">
                                <label class="option all-option"><input type="checkbox"><i class="ipt-checkbox"></i><span>全选</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌1</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌2</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌3</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌4</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌5</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌6</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌7</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌8</span></label>
                                <label class="submit-btn"><button class="submit">确定</button></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">开放职务：</label>
                        <div class="multi-select-bar select-bar">
                            <div class="select-value">请选择</div>
                            <div class="multi-select">
                                <label class="option all-option"><input type="checkbox"><i class="ipt-checkbox"></i><span>全选</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌1</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌2</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌3</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌4</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌5</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌6</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌7</span></label>
                                <label class="option"><input type="checkbox"><i class="ipt-checkbox"></i><span>品牌8</span></label>
                                <label class="submit-btn"><button class="submit">确定</button></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="atThe-venue venue">
                    <h2>分会场</h2>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">会议地点（医院/酒店）：</label>
                        <div class="input-bar margin-left150">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <i></i>
                        <label class="field-name">讲&emsp;&emsp;者：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">讲者简历：</label>
                        <div class="input-bar disabled">
                            <input type="text" disabled="disabled" value="请于PC端提交">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name ">讲者幻灯：</label>
                        <div class="input-bar disabled">
                            <input type="text" disabled="disabled" value="请于PC端提交">
                        </div>
                        <p class="prompt">会议前一天必须提交讲者PPT<br>否则不能入会</p>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">审&ensp;批&ensp;号：</label>
                        <div class="input-bar">
                            <input type="text">
                        </div>
                    </div>
                    <div class="form-field">
                        <b></b>
                        <label class="field-name">审批号有效期：</label>
                        <div class="select-bar margin-left150">
                            <div class="select-value">品牌1</div>
                            <select>
                                <option value="1">品牌1</option>
                                <option value="2">品牌2</option>
                            </select>
                        </div>
                        <p class="prompt">审批号有效期不得早于会议时间</p>
                    </div>
                    <div class="form-field" style="border: none;">
                        <b></b>
                        <label class="field-name">分会场负责人：</label>
                        <div class="select-bar margin-left150">
                            <div class="select-value">品牌1</div>
                            <select>
                                <option value="1">品牌1</option>
                                <option value="2">品牌2</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="add-venue">添加更多分会场信息</div>
                <div class="form-field" style="border: none;">
                    <i></i>
                    <label class="field-name">发送会议通知：</label>
                    <div class="radio-bar margin-left150" style="width: 3.4rem;">
                        <label><input type="radio"><i></i><span>短信</span></label>
                        <label><input type="radio"><i></i><span>站内信</span></label>
                    </div>
                </div>
                <div class="preview-content"><div class="preview-btn"><i class="fa fa-eye"></i>预览</div></div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="brand-footer">
        <div class="btm-nav">
            <a class="cur" href="conference-grab.html"><i class="i-bar2-1"></i>创建会议</a>
            <a href="conference-enter.html"><i class="i-bar2-2"></i>查看报告</a>
            <a href="conference-upload.html"><i class="i-bar2-3"></i>我的会议</a>
            <a href="conference-report.html"><i class="i-bar2-4"></i>确认会议</a>
        </div>
    </footer>
  </div>
  <div class="pop-head">
    <div class="header">
        <a href="javascript:void(0)" class="link-return head-back"><i></i>返回</a>
        <label><input type="text" placeholder="搜索"><i class="fa fa-search"></i></label>
        </div>
        <ul class="head-list">
            <li>用户1</li>
            <li>用户2</li>
            <li>用户3</li>
            <li>用户4</li>
            <li>用户5</li>
            <li>用户6</li>
            <li>用户7</li>
            <li>用户8</li>
            <li>用户9</li>
            <li>用户10</li>
            <li>用户11</li>
            <li>用户12</li>
            <li>用户13</li>
            <li>用户14</li>
            <li>用户15</li>
            <li>用户16</li>
            <li>用户17</li>
            <li>用户18</li>
            <li>用户19</li>
            <li>用户20</li>
        </ul>
    </div>
  <script src="../../js/jquery-2.1.3.min.js"></script>
  <script src="../../js/com.js"></script>
  <script src="../../js/page.js"></script>
</body>
</html>