<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>瑞医同行</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../../css/reset.css" rel="stylesheet" />
    <link href="../../css/com.css" rel="stylesheet" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/iconfont.css" rel="stylesheet" />
    <link href="../../css/page.css" rel="stylesheet" />
    <script src="../../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="conference-upload">
    <header id="header">
      <a href="index.html" class="link-return"><i></i>返回首页</a>
      <ul class="nav">
        <li><a href="#"><i class="iconfont icon-trophy_icon"></i>我的排名</a><span>12</span></li>
        <li><a href="#"><i class="iconfont icon-dituleiditu"></i>区域之星</a><span>李丽丽</span></li>
        <li><a href="#"><i class="iconfont icon-shixunchengji"></i>品牌之星</a><span>赵钱孙</span></li>
      </ul>
      <a href="message.html" class="link-my-message"><i class="iconfont icon-xiaoxi"></i><span class="msg-count">2</span>我的消息</a>
      <div class="btn-open-side-nav"><span class="i-btn-side-nav"><i></i><i></i><i></i></span></div>
    </header>
    <div class="side-nav">
      <div class="side-nav-head">
        <p><i class="i-phone"></i><span>技术支持热线4000621818</span></p>
        <p><i class="i-book"></i><span>隐私条款</span></p>
        <p><a href="manuals.html"><i class="i-notepad"></i><span>操作手册</span></a></p>
      </div>
      <div class="side-nav-foot">
        <p class="co-info">上海会畅通讯股份有限公司版权所有<br />沪ICP备11034277号-18</p>
        <p class="co-code"><i class="i-copyright"></i>沪公网安备31010602002539号</p>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <div class="main-top">
          <div class="main-title">
            <span>会议结束后，请及时上传签到表及照片</span>
          </div>
        </div>
        <div class="main-content scroll-view">
          <div class="secs">
            <div class="sec sec-select">
              <i></i>
              <div class="sec-rt">
                <div class="sec-title">已完成会议:</div>
                <div class="select-bar">
                  <div class="select-value">2月28日 e路芬芳科室会</div>
                  <select>
                    <option value="1">2月28日 e路芬芳科室会</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="sec sec-upload-form">
              <i></i>
              <div class="sec-rt">
                <div class="sec-title">签到表上传:</div>
                <div class="sec-file-list">
                  <ul>
                    <li class="btn-upload">
                      <input type="file" name="">
                      <i class="i-upload"></i>
                      <span>点击上传签到表</span>
                    </li>
                    <li><input type="button" name="" class="btn-del-file"><div class="file"></div></li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="sec sec-upload-picture">
              <i></i>
              <div class="sec-rt">
                <div class="sec-title">会议照片上传:</div>
                <div class="sec-file-list">
                  <ul>
                    <li class="btn-upload">
                      <input type="file" name="">
                      <i class="i-upload"></i>
                      <span>点击上传会议照片</span>
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-1.jpg" alt="" class="uploaded-pic">
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-2.jpg" alt="" class="uploaded-pic">
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-1.jpg" alt="" class="uploaded-pic">
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-2.jpg" alt="" class="uploaded-pic">
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-1.jpg" alt="" class="uploaded-pic">
                    </li>
                    <li>
                      <input type="button" name="" class="btn-del-file">
                      <img src="../../img/temp-2.jpg" alt="" class="uploaded-pic">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <label class="submit-btn"><button class="submit">确定</button></label>
        </div>
      </div>
    </div>
    <footer id="footer" class="behalf-footer">
      <div class="btm-nav">
        <a href="conference-grab.html"><i class="i-bar-1"></i>抢单会议</a>
        <a href="conference-enter.html"><i class="i-bar-2"></i>一键入会</a>
        <a href="conference-upload.html" class="cur"><i class="i-bar-3"></i>会后上传</a>
        <a href="conference-report.html"><i class="i-bar-4"></i>查看报告</a>
        <a href="user-activation.html"><i class="i-bar-5"></i>活跃值</a>
        <a href="conference-new.html"><i class="i-bar-6"></i>创建会议</a>
      </div>
    </footer>
  </div>
  <div class="layer-warn-max-files">
    <i class="btn-close i-close"></i>
    <div class="layer-content">签到表最多上传2个！</div>
    <div class="layer-btn-bar">
      <input type="button" class="btn-gray btn-close-layer" value="关 闭">
    </div>
  </div>
  <div class="layer-warn-max-images">
    <i class="btn-close i-close"></i>
    <div class="layer-content">会议照片最多上传6张！</div>
    <div class="layer-btn-bar">
      <input type="button" class="btn-gray btn-close-layer" value="关 闭">
    </div>
  </div>
  <div class="layer-confirm-del">
    <i class="btn-close i-close"></i>
    <div class="layer-content">确认删除附件？</div>
    <div class="layer-btn-bar">
      <input type="button" class="btn-primary btn-confirm" value="确 认">
      <input type="button" class="btn-gray btn-close-layer" value="取 消">
    </div>
  </div>
  <div class="layer-res-status layer-res-uploaded">
    <i class="i-close"></i>
    <div class="btn-bar"><span class="btn-close">确认</span></div>
  </div>
  <div class="layer-res-status layer-res-wrong-type">
    <i class="i-close"></i>
    <div class="btn-bar"><span class="btn-close">确认</span></div>
  </div>
  <script src="../../js/jquery-2.1.3.min.js"></script>
  <script src="../../js/com.js"></script>
  <script src="../../js/page.js"></script>
  <script>
    // 初始化该页面所有弹出层
    layer.add('warnMaxFiles', 'layer-warn-max-files', 'layer-cover-white')
    layer.add('warnMaxImages', 'layer-warn-max-images', 'layer-cover-white')
    layer.add('warnConfirmDel', 'layer-confirm-del', 'layer-cover-white')
    layer.add('resUploaded', 'layer-res-uploaded', 'layer-cover-white')
    layer.add('resWrongType', 'layer-res-wrong-type', 'layer-cover-white')

    // 文件删除按钮confirm层
    $('.btn-del-file').bind('click', function () { layer.show('warnConfirmDel') })

    var example = function () {
      // 最大表单上传
      layer.show('warnMaxFiles')

      // 最大图片上传
      layer.show('warnMaxImages')

      // 上传成功
      layer.show('resUploaded')

      // 文件类型错误
      layer.show('resWrongType')
    }
    example()

    // 关闭弹出层
    $('.layer-warn-max-files .btn-close, .layer-warn-max-files .btn-close-layer').bind('click', function () {
      layer.hide('warnMaxFiles')
    })
    $('.layer-warn-max-images .btn-close, .layer-warn-max-images .btn-close-layer').bind('click', function () {
      layer.hide('warnMaxImages')
    })
    $('.layer-confirm-del .btn-close, .layer-confirm-del .btn-close-layer').bind('click', function () {
      layer.hide('warnConfirmDel')
    })
    $('.layer-res-uploaded .i-close').bind('click', function () {
      layer.hide('resUploaded')
    })
    $('.layer-res-wrong-type .i-close').bind('click', function () {
      layer.hide('resWrongType')
    })
  </script>
</body>
</html>