<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>瑞医同行</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../../css/reset.css" rel="stylesheet" />
    <link href="../../css/com.css" rel="stylesheet" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/iconfont.css" rel="stylesheet" />
    <link href="../../css/page.css" rel="stylesheet" />
    <script src="../../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="conference-grab-calendar">
    <header id="header">
      <a href="index.html" class="link-return"><i></i>返回首页</a>
      <ul class="nav">
        <li><a href="#"><i class="iconfont icon-trophy_icon"></i>我的排名</a><span>12</span></li>
        <li><a href="#"><i class="iconfont icon-dituleiditu"></i>区域之星</a><span>李丽丽</span></li>
        <li><a href="#"><i class="iconfont icon-shixunchengji"></i>品牌之星</a><span>赵钱孙</span></li>
      </ul>
      <a href="message.html" class="link-my-message"><i class="iconfont icon-xiaoxi"></i><span class="msg-count">2</span>我的消息</a>
      <div class="btn-open-side-nav"><span class="i-btn-side-nav"><i></i><i></i><i></i></span></div>
    </header>
    <div class="side-nav">
      <div class="side-nav-head">
        <p><i class="i-phone"></i><span>技术支持热线4000621818</span></p>
        <p><i class="i-book"></i><span>隐私条款</span></p>
        <p><i class="i-notepad"></i><span>操作手册</span></p>
      </div>
      <div class="side-nav-foot">
        <p class="co-info">上海会畅通讯股份有限公司版权所有<br />沪ICP备11034277号-18</p>
        <p class="co-code"><i class="i-copyright"></i>沪公网安备31010602002539号</p>
      </div>
    </div>
    <div class="body">
      <div class="main">
        <div class="main-top">
          <div class="sub-nav conference-list-nav">
            <a href="conference-grab.html"><i class="fa fa-th-large"></i><span>列表排列</span></a>
            <a href="conference-grab-calendar.html" class="cur"><i class="fa fa-calendar"></i><span>日历排列</span></a>
          </div>
          <div class="conference-status-switch">
            <a href="conference-grab-calendar.html" class="cur">月历</a>
            <a href="conference-grab-weeks.html">周历</a>
          </div>
        </div>
        <div class="main-content scroll-view">
          <div class="calendar">
            <div class="calendar-head">
              <div class="i-arw btn-prev-mon"><i class="fa fa-angle-left"></i></div>
              <div class="current-data-info">
                <span class="year">2018年</span>
                <span class="month">5月</span>
              </div>
              <div class="i-arw btn-next-mon"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="calendar-body">
              <ul class="weeks">
                <li>周一</li><li>周二</li><li>周三</li><li>周四</li><li>周五</li><li>周六</li><li>周日</li>
              </ul>
              <ul class="days">
                <li class="off">29</li><li class="off">30</li><li>01</li><li>02<div class="yqd"><i></i>2</div><div class="kwg"><i></i>2</div></li><li>03</li><li>04</li><li>05</li>
                <li>06</li><li>07</li><li>08</li><li>09</li><li>10</li><li>11<div class="yqd"><i></i>2</div><div class="kwg"><i></i>2</div></li><li>12</li>
                <li>13</li><li>14</li><li>15</li><li>16</li><li>17</li><li>18</li><li>19<div class="yqd"><i></i>2</div></li>
                <li>20</li><li>21<div class="kwg"><i></i>2</div></li><li>22</li><li>23</li><li>24<div class="yqd"><i></i>2</div></li><li>25</li><li>26</li>
                <li>27<div class="kwg"><i></i>2</div></li><li>28</li><li>29</li><li>30</li><li>31</li><li class="off">1</li><li class="off">2</li>
              </ul>
            </div>
            <div class="calendar-foot">
              <div class="calendar-label">
                <!-- <i class="circle-blue"></i><span>已创建会议</span> -->
                <i class="circle-light-blue"></i><span>已抢单会议</span>
                <i class="circle-orange"></i><span>可围观会议</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" class="behalf-footer">
      <div class="btm-nav">
        <a href="conference-grab.html"><i class="i-bar-1"></i>抢单会议</a>
        <a href="conference-enter.html" class="cur"><i class="i-bar-2"></i>一键入会</a>
        <a href="conference-upload.html"><i class="i-bar-3"></i>会后上传</a>
        <a href="conference-report.html"><i class="i-bar-4"></i>查看报告</a>
        <a href="user-activation.html"><i class="i-bar-5"></i>活跃值</a>
        <a href="conference-new.html"><i class="i-bar-6"></i>创建会议</a>
      </div>
    </footer>
  </div>
  <div class="layer-conference-lists">
    <div class="layer-content">
      <input type="button" name="" value="关 闭" class="btn-gray btn-close-layer">
      <ul>
        <li>
          <div class="conference-detail">
            <div class="confer-field"><label class="field-name justify">主题</label><span>罗氏肿瘤名医公开课</span></div>
            <div class="confer-field"><label class="field-name justify">时间</label><span>2017.7.26  16:00-17:30</span></div>
            <div class="confer-field"><label class="field-name justify">主会场讲者</label><span>邱一健   上海交通大学附属第九人民医院</span></div>
          </div>
          <div class="conference-btn-bar">
            <a href="javascript:void(0)" class="btn-edit-confer"><i class="fa fa-pencil"></i>修改</a>
            <a href="javascript:void(0)" class="btn-del-confer"><i class="fa fa-close"></i>删除</a>
            <a href="javascript:void(0)" class="btn-grab-confer"><i class="fa fa-check"></i>抢单</a>
          </div>
        </li>
        <li>
          <div class="conference-detail">
            <div class="confer-field"><label class="field-name justify">主题</label><span>罗氏肿瘤名医公开课</span></div>
            <div class="confer-field"><label class="field-name justify">时间</label><span>2017.7.26  16:00-17:30</span></div>
            <div class="confer-field"><label class="field-name justify">主会场讲者</label><span>邱一健   上海交通大学附属第九人民医院</span></div>
          </div>
          <div class="conference-btn-bar">
            <a href="javascript:void(0)" class="btn-edit-confer"><i class="fa fa-pencil"></i>修改</a>
            <a href="javascript:void(0)" class="btn-del-confer"><i class="fa fa-close"></i>删除</a>
            <a href="javascript:void(0)" class="btn-grab-confer"><i class="fa fa-check"></i>抢单</a>
          </div>
        </li>
        <li>
          <div class="conference-detail">
            <div class="confer-field"><label class="field-name justify">主题</label><span>罗氏肿瘤名医公开课</span></div>
            <div class="confer-field"><label class="field-name justify">时间</label><span>2017.7.26  16:00-17:30</span></div>
            <div class="confer-field"><label class="field-name justify">主会场讲者</label><span>邱一健   上海交通大学附属第九人民医院</span></div>
          </div>
          <div class="conference-btn-bar">
            <a href="javascript:void(0)" class="btn-edit-confer"><i class="fa fa-pencil"></i>修改</a>
            <a href="javascript:void(0)" class="btn-del-confer"><i class="fa fa-close"></i>删除</a>
            <a href="javascript:void(0)" class="btn-grab-confer"><i class="fa fa-check"></i>抢单</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <script src="../../js/jquery-2.1.3.min.js"></script>
  <script src="../../js/com.js"></script>
  <script src="../../js/page.js"></script>
  <script>
    // 初始化该页面所有弹出层
    layer.add('conferenceLists', 'layer-conference-lists', 'layer-cover-white')

    $('.calendar-body .days i').bind('click', function () {
      layer.show('conferenceLists')
    })

    $('.layer-conference-lists .btn-close-layer').bind('click', function () {
      layer.hide('conferenceLists')
    })

  </script>
</body>
</html>