<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>修改密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/com.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/page.css" rel="stylesheet" />
    <script src="../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="change-password">
    <div class="content">
      <a href="login.html" class="link-to-login"><i class="i-return-gray"></i>返回首页</a>
      <div class="slogan"></div>
      <div class="form-normal">
        <div class="form-field field-normal">
          <i class="i-form-field i-login-account"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="account"><span>员工邮箱</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="text" placeholder="请输入邮箱">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-normal">
          <i class="i-form-field i-login-pwd"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span>输入旧密码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入旧密码">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-normal">
          <i class="i-form-field i-new-pwd"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span>输入新密码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入新密码">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="btn-bar">
          <input type="button" class="btn-primary btn-confirm" value="确认" />
        </div>
      </div>
    </div>
    <footer class="copyright">
      <div><i class="i-hotline"></i>技术支持热线:4000621818</div>
      <div>上海会畅通讯股份有限公司 版权所有 沪ICP备11034277号-18</div>
      <div><i class="i-copyright"></i>沪公网安备31010602002539号</div>
    </footer>
  </div>
  <div class="layer-res-status layer-res-data-wrong">
    <i class="i-close"></i>
    <div class="btn-bar"><span class="btn-close">确认</span></div>
  </div>
  <div class="layer-res-status layer-res-sub-success">
    <i class="i-close"></i>
    <div class="btn-bar"><span class="btn-close">确认</span></div>
  </div>
  <div class="layer-res-status layer-res-edit-success">
    <i class="i-close"></i>
    <div class="btn-bar"><span class="btn-close">确认</span></div>
  </div>
  <script src="../js/jquery-2.1.3.min.js"></script>
  <script src="../js/com.js"></script>
  <script>
    var layer = LayerManager()
    layer.add('resDataWrong', 'layer-res-data-wrong', 'layer-cover-white')
    layer.add('resSubSuccess', 'layer-res-sub-success', 'layer-cover-white')
    layer.add('resEditSuccess', 'layer-res-edit-success', 'layer-cover-white')
    $('.btn-confirm').bind('click', function () {
      var rd = Math.floor(Math.random() * 3)
      if (rd == 0) {
        layer.show('resDataWrong')
      } else if (rd == 1) {
        layer.show('resSubSuccess')
      } else if (rd == 2) {
        layer.show('resEditSuccess')
      }
    })
    $('.layer-res-data-wrong .i-close, .layer-res-data-wrong .btn-close').bind('click', function () {
      layer.hide('resDataWrong')
    })
    $('.layer-res-sub-success .i-close, .layer-res-sub-success .btn-close').bind('click', function () {
      layer.hide('resSubSuccess')
    })
    $('.layer-res-edit-success .i-close, .layer-res-edit-success .btn-close').bind('click', function () {
      layer.hide('resEditSuccess')
    })
  </script>
</body>
</html>