<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>忘记密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=0.5,user-scalable=0">
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/com.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/page.css" rel="stylesheet" />
    <script src="../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="forgot-password">
    <div class="content">
      <a href="login.html" class="link-to-login"><i class="i-return-gray"></i>返回首页</a>
      <div class="slogan"></div>
      <div class="form-normal form-register">
        <div class="form-field field-normal">
          <i class="i-form-field i-login-account"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="account"><span>员工邮箱</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="text" placeholder="请输入邮箱">
              <i class="i-check"></i>
            </div>
          </div>
        </div>
        <div class="form-field field-normal">
          <i class="i-form-field i-login-pwd"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">设置密码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入密码">
              <i class="i-check"></i>
            </div>
          </div>
        </div>
        <div class="form-field field-normal">
          <i class="i-form-field i-user-phone"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">手 机 号</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入手机号">
              <i class="i-check"></i>
            </div>
          </div>
        </div>
        <div class="form-field field-width-btn">
          <i class="i-form-field i-vcode"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">校 验 码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入校验码">
              <i class="i-check"></i>
            </div>
            <div class="vcode-bar">校验码框</div>
          </div>
        </div>
        <div class="form-field field-width-btn">
          <i class="i-form-field i-mscode"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">验 证 码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入验证码">
              <i class="i-check"></i>
            </div>
            <input type="button" class="btn-primary btn-send-mscode" value="发送">
          </div>
        </div>
        <div class="btn-bar">
          <input type="button" class="btn-primary btn-confirm" value="确认" />
        </div>
      </div>
    </div>
    <footer class="copyright">
      <div><i class="i-hotline"></i>技术支持热线:4000621818</div>
      <div>上海会畅通讯股份有限公司 版权所有 沪ICP备11034277号-18</div>
      <div><i class="i-copyright"></i>沪公网安备31010602002539号</div>
    </footer>
  </div>
</body>
</html>