<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>注册页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=0.5,maxinum-scale=0.5,user-scalable=0">
    <link href="../css/reset.css" rel="stylesheet" />
    <link href="../css/com.css" rel="stylesheet" />
    <link href="../css/font-awesome.min.css" rel="stylesheet" />
    <link href="../css/iconfont.css" rel="stylesheet" />
    <link href="../css/page.css" rel="stylesheet" />
    <script src="../js/size.js"></script>
</head>
<body>
  <div id="wrapper" class="register">
    <div class="content">
      <a href="login.html" class="link-to-login"><i class="i-return-gray"></i>返回首页</a>
      <div class="slogan"></div>
      <div class="form-login">
        <div class="form-field field-normal">
          <i class="i-login-account"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="account"><span>员工邮箱</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="text" placeholder="请输入邮箱">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-normal">
          <i class="i-user-name"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">姓 名</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入姓名">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-normal">
          <i class="i-user-phone"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">手 机 号</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入手机号">
              <i class="i-check"></i>
            </div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-width-btn">
          <i class="i-vcode"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">校 验 码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入校验码">
              <i class="i-check"></i>
            </div>
            <div class="vcode-bar">校验码框</div>
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="form-field field-width-btn">
          <i class="i-mscode"></i>
          <div class="ipt-text-with-name">
            <label class="field-name" for="pwd"><span class="justify">验 证 码</span>:</label>
            <div class="ipt-area">
              <input class="field-value" id="account" type="password" placeholder="请输入验证码">
              <i class="i-check"></i>
            </div>
            <input type="button" class="btn-primary btn-send-mscode" value="发送">
          </div>
          <div class="tip tip-err">6-18位字符，至少包含1个字母和1个数字</div>
        </div>
        <div class="btn-bar">
          <input type="button" class="btn-primary btn-next-step" value="下 一 步" />
        </div>
        <div class="bar-privacy-policy">
          <label><input type="checkbox" class="ipt-checkbox-policy"><i class="ipt-checkbox"></i></label>
          <span class="btn-open-privacy-policy">隐私政策</span>
        </div>
      </div>
    </div>
    <footer class="copyright">
      <div><i class="i-hotline"></i>技术支持热线:4000621818</div>
      <div>上海会畅通讯股份有限公司 版权所有 沪ICP备11034277号-18</div>
      <div><i class="i-copyright"></i>沪公网安备31010602002539号</div>
    </footer>
  </div>
  <div class="layer-privacy-policy">
    <i class="btn-close i-close"></i>
    <div class="layer-title">隐私政策</div>
    <div class="layer-content">
      <p>其明重视用户的隐私，隐私权是您重要的权利。您在使用我们的服务时，我们可能会收集和使用您的相关信息。我们希望通过本《隐私政策》向您说明，在使用我们的服务时，我们如何收集、使用、储存和分享这些信息，以及我们为您提供的访问、更新、控制和保护这些信息的方式。本《隐私政策》与您所使用的其明服务息息相关，希望您仔细阅读，在需要时，按照本《隐私政策》的指引，作出您认为适当的选择。本《隐私政策》中涉及的相关技术词汇，我们尽量以简明扼要的表述，并提供进一步说明的链接，以便您的理解。</p>
      <p>您使用或继续使用我们的服务，即意味着同意我们按照本《隐私政策》收集、使用、储存和分享您的相关信息。如对本《隐私政策》或相关事宜有任何问题，请通过与我们联系。</p>
      <p>我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。其明重视用户的隐私，隐私权是您重要的权利。您在使用我们的服务时，我们可能会收集和使用您的相关信息。我们希望通过本《隐私政策》向您说明，在使用我们的服务时，我们如何收集、使用、储存和分享这些信息，以及我们为您提供的访问、更新、控制和保护这些信息的方式。本《隐私政策》与您所使用的其明服务息息相关，希望您仔细阅读，在需要时，按照本《隐私政策》的指引，作出您认为适当的选择。本《隐私政策》中涉及的相关技术词汇，我们尽量以简明扼要的表述，并提供进一步说明的链接，以便您的理解。
      您使用或继续使用我们的服务，即意味着同意我们按照本《隐私政策》收集、使用、储存和分享您的相关信息。如对本《隐私政策》或相关事宜有任何问题，请通过与我们联系。
      我们提供服务时，可能会收集、储存和使用下列与您有关的信息。如果您不提供相关信息，可能无法注册成为我们的用户或无法享受我们提供的某些服务，或者无法达到相关服务拟达到的效果。</p>
    </div>
  </div>
  <div class="layer-warn-policy">
    <i class="btn-close i-close"></i>
    <div class="layer-content">请勾选并阅读隐私条款！</div>
    <div class="layer-btn-bar">
      <input type="button" class="btn-gray btn-close-layer" value="关 闭">
    </div>
  </div>
  <script src="../js/jquery-2.1.3.min.js"></script>
  <script src="../js/com.js"></script>
  <script>
    var layer = LayerManager()
    layer.add('policy', 'layer-privacy-policy', 'layer-cover-white', 'register')
    layer.add('policyWarn', 'layer-warn-policy', 'layer-cover-white', 'register')
    $('.btn-open-privacy-policy').bind('click', function () {
      layer.show('policy')
    })
    $('.layer-privacy-policy .btn-close').bind('click', function () {
      layer.hide('policy')
    })
    $('.btn-next-step').bind('click', function () {
      if (!$('.ipt-checkbox-policy:checked').length) {
        layer.show('policyWarn')
      }
    })
    $('.layer-warn-policy .btn-close, .layer-warn-policy .btn-close-layer').bind('click', function () {
      layer.hide('policyWarn')
    })
  </script>
</body>
</html>